@model BienNhanViewModel

@{
    ViewData["Title"] = "Bien Nhan";
}

<!-- huy tour modal-->
<div class="modal fade" id="huyBNModal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">

        <div class="modal-content ">
            <div class="modal-header">
                <h4 class="modal-title">Thông tin hủy BN</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body huyBNPartial">

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- huy tour modal-->
<!-- print BN modal-->
<div class="modal fade" id="PrintBNPartial" aria-hidden="true" style="display: none;">

    <div class="modal-dialog modal-xl">

        <div class="modal-content ">
            <div class="modal-header bg-secondary">
                <h4 class="modal-title">Biên nhận</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body printBN" style="max-height: 400px !important; overflow-y:auto">

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- print BN modal-->
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            @*<div class="col-sm-6">
                        <a class="btn btn-outline-info" asp-action="Create" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-plus"></i>&nbsp; Thêm Mới</a>
                    </div>
                <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Danh sách Invoice </li>
                        </ol>
                    </div>*@
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- BienNhan -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách biên nhận - <b>@Model.Tour.Sgtcode</b></h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            <form method="get" autocomplete="off">

                <div class="container" style="padding-bottom:10px; background-color: aliceblue;" id="search">
                    @* we will add search criteria *@

                    <div class="col-md-12">
                        <div class="row" style="padding-top: 10px;">

                            <div class="col-md-3">
                                Nhập thông tin
                                @*@Html.Editor("searchName", new { htmlAttributes = new { @class = "form-control", @value="@ViewData["currentFilter"]" } })*@
                                <input class="form-control" name="searchString" value="@ViewBag.searchString" />
                            </div>

                            <div class="col-md-3">
                                Từ ngày
                                <input class="form-control maskInput" name="searchFromDate" value="@ViewBag.searchFromDate" />
                            </div>

                            <div class="col-md-3">
                                Đến ngày
                                <input class="form-control maskInput" name="searchToDate" value="@ViewBag.searchToDate" />
                            </div>

                            <!-- click row and submit to index -->
                            <input type="hidden" name="id" id="hidId" />
                            <input type="hidden" name="tourId" value="@Model.Tour.Id" />

                            <div class="col-md-3 ">
                                <br />
                                <div class="btn-group btn-block">
                                    <button type="submit" class="btn btn-primary " id="btnSubmit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <a class="btn btn-outline-info" asp-action="Create" asp-route-tourId="@Model.Tour.Id" asp-route-strUrl="@Model.StrUrl" title="Thêm mới"><i class="fas fa-plus"></i></a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </form>
            <br />
            <div style="overflow-x:auto; overflow-y: auto; height: 200px;">
                <table class="table mytable text-nowrap tblEMD" id="listAll">
                    <thead>
                        <tr class="table-info">
                            <th>#</th>
                            <th>@Html.DisplayNameFor(m => m.BienNhans.FirstOrDefault().SoBN)</th> <!-- so bien nhan-->
                            <th>@Html.DisplayNameFor(m => m.BienNhans.FirstOrDefault().NgayBN)</th>
                            <th>@Html.DisplayNameFor(m => m.BienNhans.FirstOrDefault().TenKhach)</th>
                            <th>@Html.DisplayNameFor(m => m.BienNhans.FirstOrDefault().DienThoai)</th>
                            <th>@Html.DisplayNameFor(m => m.BienNhans.FirstOrDefault().SoTien)</th>
                            @*<th>@Html.DisplayNameFor(m => m.BienNhans.FirstOrDefault().NoiDung)</th>*@
                            <th>@Html.DisplayNameFor(m => m.BienNhans.FirstOrDefault().SK)</th>
                            <th>@Html.DisplayNameFor(m => m.BienNhans.FirstOrDefault().GhiChu)</th>
                            <th>@Html.DisplayNameFor(m => m.BienNhans.FirstOrDefault().LoaiTien)</th>
                            <th>@Html.DisplayNameFor(m => m.BienNhans.FirstOrDefault().TyGia)</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.BienNhans)
                        {

                            <tr class="cursor-pointer " data-huy="@item.HuyBN">

                                <td>
                                    <div class="btn-group text-white" role="group">
                                        @if (item.HuyBN == true)
                                        {
                                            <a class="disabled" title="Cập nhật"><i class="fas fa-edit"></i></a>
                                            <span class="text-dark"> | </span>
                                        }
                                        else
                                        {
                                            <a class="text-primary btnEditBN" title="Cập nhật" asp-action="Edit" asp-controller="BienNhans" asp-route-id="@item.Id" asp-route-tourId="@Model.Tour.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-edit"></i></a>
                                            <span class="text-dark"> | </span>
                                        }
                                        <a data-id="@item.Id" data-strUrl="@Model.StrUrl" class="text-warning border-0 bg-transparent btnPrintBN" title="Print"><i class="fas fa-print"></i></a>
                                        <span class="text-dark"> | </span>
                                        <a class="text-success" title="Chi tiết" asp-action="Details" asp-controller="BienNhans" asp-route-id="@item.Id" asp-route-tourId="@Model.Tour.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-list"></i></a>
                                        <span class="text-dark"> | </span>
                                        <form asp-action="Delete" asp-controller="BienNhans" asp-route-id="@item.Id" asp-route-strUrl="@Model.StrUrl" method="post">

                                            <span id="confirmDeleteSpan_@item.Id" style="display: none">
                                                <span class="text-dark spanXoa">Hủy?</span>
                                                <button type="button" data-id="@item.Id" data-url="@Model.StrUrl" class="btn btn-danger btn-xs btnHuyBN">Yes</button>
                                                <button type="button" class="btn btn-primary btn-xs" onclick="confirmDelete('@item.Id', false)">No</button>
                                            </span>

                                            <span id="deleteSpan_@item.Id">
                                                @if (item.HuyBN == true)
                                                {
                                                    <button type="button" class="text-danger border-0 bg-transparent disabled"><i class="fas fa-trash-alt"></i></button>
                                                }
                                                else
                                                {
                                                    <button title="Xóa" type="button" class="text-danger border-0 bg-transparent btnHuy" onclick="confirmDelete('@item.Id', true)"><i class="fas fa-trash-alt"></i></button>
                                                }
                                            </span>
                                        </form>
                                    </div>
                                </td>

                                <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.SoBN)</td>
                                <td class="tdVal" data-id="@item.Id">@Html.Raw(item.NgayBN.ToString("dd/MM/yyyy"))</td>
                                <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.TenKhach)</td>
                                <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.DienThoai)</td>
                                <td class="tdVal" data-id="@item.Id">@Html.Raw(item.SoTien.ToString("N0"))</td>
                                @*<td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.NoiDung)</td>*@
                                <td class="tdVal" data-id="@item.Id">@Html.Raw(item.SK.ToString("N0"))</td>
                                <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.GhiChu)</td>
                                <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.LoaiTien)</td>
                                <td class="tdVal" data-id="@item.Id">@Html.Raw(item.TyGia.ToString("N0"))</td>
                            </tr>

                        }
                    </tbody>

                </table>

            </div>

        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /BienNhan -->
<!-- CTBienNhan -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            @if (Model.BienNhan.SoBN != null)
            {
                <h3 class="card-title">Danh sách chi tiết biên nhận - <b>@Model.BienNhan.TenKhach</b></h3>
            }
            else
            {
                <h3 class="card-title">Danh sách chi tiết biên nhận</h3>
            }

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            <div style="overflow-x:auto; overflow-y: auto; height: 200px;">
                <table class="table mytable text-nowrap tblEMD" id="ctbnTbl">
                    <thead>
                        <tr class="table-info">
                            <th>
                                @if (Model.BienNhan.HuyBN == true)
                                {
                                    <a class="btn btn-default btn-sm text-bold disabled" title="Thêm CT biên nhận">New</a>

                                }
                                else
                                {
                                    <a id="btnNewCTBienNhan" data-id="@Model.BienNhan.Id" asp-action="Create" asp-controller="ChiTietBNs" asp-route-bienNhanId="@Model.BienNhan.Id" asp-route-strUrl="@Model.StrUrl" class="btn btn-default btn-sm text-bold" title="Thêm CT biên nhận">New</a>
                                }

                            </th>
                            <th>@Html.DisplayNameFor(m => m.ChiTietBNs.FirstOrDefault().Descript)</th>
                            <th>@Html.DisplayNameFor(m => m.ChiTietBNs.FirstOrDefault().Amount)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ChiTietBNs != null && Model.BienNhan.HuyBN != true)
                        {
                            @foreach (var item in Model.ChiTietBNs)
                            {

                                <tr class="cursor-pointer ">

                                    <td>
                                        <div class="btn-group text-white" role="group">
                                            <a title="Cập nhật" asp-action="Edit" asp-controller="ChiTietBNs" asp-route-bienNhanId="@Model.BienNhan.Id" asp-route-id="@item.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-edit"></i></a>
                                            <span class="text-dark"> | </span>
                                            <a class="text-success" title="Chi tiết" asp-action="Details" asp-controller="ChiTietBNs" asp-route-bienNhanId="@Model.BienNhan.Id" asp-route-id="@item.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-list"></i></a>
                                            <span class="text-dark"> | </span>
                                            <form asp-action="Delete" asp-controller="ChiTietBNs" asp-route-id="@item.Id" asp-route-bienNhanId="@Model.BienNhan.Id" asp-route-strUrl="@Model.StrUrl" method="post">

                                                <span id="confirmDeleteSpanCTBN_@item.Id" style="display: none">
                                                    <span class="text-dark spanXoa">Xóa?</span>
                                                    <button type="submit" class="btn btn-danger btn-xs">Yes</button>
                                                    <button type="button" class="btn btn-primary btn-xs" onclick="confirmDeleteCTBN('@item.Id', false)">No</button>
                                                </span>

                                                <span id="deleteSpanCTBN_@item.Id">
                                                    <button title="Xóa" type="button" class="text-danger border-0 bg-transparent" onclick="confirmDeleteCTBN('@item.Id', true)"><i class="fas fa-trash-alt"></i></button>
                                                </span>
                                            </form>
                                        </div>
                                    </td>

                                    <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.Descript)</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.Raw(item.Amount.ToString("N0"))</td>
                                </tr>

                            }

                        }
                        @if (Model.BienNhan.HuyBN == true)
                        {
                            @foreach (var item in Model.ChiTietBNs)
                            {

                                <tr class="cursor-pointer bg-secondary">

                                    <td>
                                        <div class="btn-group text-white" role="group">
                                            <a class="disabled" title="Cập nhật"><i class="fas fa-edit"></i></a>
                                            <span class="text-dark"> | </span>
                                            <a class="text-success" title="Chi tiết" asp-action="Details" asp-controller="ChiTietBNs" asp-route-bienNhanId="@Model.BienNhan.Id" asp-route-id="@item.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-list"></i></a>
                                            <span class="text-dark"> | </span>
                                            <form asp-action="Delete" asp-controller="ChiTietBNs" asp-route-id="@item.Id" asp-route-bienNhanId="@Model.BienNhan.Id" asp-route-strUrl="@Model.StrUrl" method="post">

                                                <span id="confirmDeleteSpanCTBN_@item.Id" style="display: none">
                                                    <span class="text-dark spanXoa">Xóa?</span>
                                                    <button type="submit" class="btn btn-danger">Yes</button>
                                                    <button type="button" class="btn btn-primary" onclick="confirmDeleteCTBN('@item.Id', false)">No</button>
                                                </span>

                                                <span id="deleteSpanCTBN_@item.Id">
                                                    <button type="button" disabled class="text-danger border-0 bg-transparent" onclick="confirmDeleteCTBN('@item.Id', true)"><i class="fas fa-trash-alt"></i></button>
                                                </span>
                                            </form>
                                        </div>
                                    </td>

                                    <td>@Html.DisplayFor(m => item.Descript)</td>
                                    <td>@Html.Raw(item.Amount.ToString("N0"))</td>
                                </tr>

                            }

                        }

                    </tbody>

                </table>
            </div>

        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /CTBienNhan -->

@section Scripts{
    <script>

        $(function () {
            //$("#datepicker").datepicker({
            //    dateFormat: 'dd/mm/yy'
            //});

            $('#listAll').DataTable({
                "paging": false,
                "lengthChange": true,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });
    </script>
    <script src="~/js/Admin/BienNhan/indexController.js"></script>
    <script>
        function confirmDelete(uniqueId, isDeleteClicked) {
            var deleteSpan = 'deleteSpan_' + uniqueId;
            var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

            if (isDeleteClicked) {
                $('#' + deleteSpan).hide();
                $('#' + confirmDeleteSpan).show();

            } else {
                $('#' + deleteSpan).show();
                $('#' + confirmDeleteSpan).hide();
            }
        }
    </script>
    <script>
        function confirmDeleteCTBN(uniqueId, isDeleteClicked) {
            var deleteSpan = 'deleteSpanCTBN_' + uniqueId;
            var confirmDeleteSpan = 'confirmDeleteSpanCTBN_' + uniqueId;

            if (isDeleteClicked) {
                $('#' + deleteSpan).hide();
                $('#' + confirmDeleteSpan).show();


            } else {
                $('#' + deleteSpan).show();
                $('#' + confirmDeleteSpan).hide();

            }


        }
        $('.cursor-pointer').hover(function () {
            $('.spanXoa').removeClass('text-dark');
        })
        $('.cursor-pointer').mouseout(function () {
            $('.spanXoa').addClass('text-dark');
        })
    </script>


    <style>
        #listAll, #ctbnTbl {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        #search {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .tblEMD .cursor-pointer:hover {
            background-color: #3E5C9A;
            cursor: pointer;
            color: white;
        }
        /*.spanXoa:hover {
                color: white;
            }*/
        .hoverClass {
            background-color: #3E5C9A;
        }
    </style>
}

