@model BienNhanViewModel
@*<style>
        .invoicetable {
            clear: both;
            border: 1px solid darkgray;
            border-collapse: collapse;
            margin: auto;
            width: 100%;
        }

        .invoicecell {
            background-color: white;
            color: black;
            border: 1px solid darkgray;
            padding: 5px;
        }

        body {
            margin: 0px;
            font-family: 'Segoe UI', Arial;
        }

        .invoice-head {
            clear: both;
            display: block;
            padding: 10px;
            margin-bottom: 40px;
        }

        .invoice-title {
            background-color: navy;
            color: white;
            font-size: 20px;
            padding: 10px;
            width: 100%;
        }

        .invoice-to {
            float: left;
        }

        .invoice-details {
            float: right;
        }

        td, th {
            padding: 10px;
        }

        .tdHead {
            padding: 2px;
        }
        /*th {
                background-color: navy;
                color: white;
            }*/

        /*td, th {
                border: 1px solid darkgray;
                padding: 5px;
            }*/

        .numeric-cell {
            text-align: right;
            border: 1px solid darkgray;
            padding: 5px;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>*@

<style>
    table {
        font-size: 14px;
    }

    .invoicetable {
        clear: both;
        border: 1px solid darkgray;
        border-collapse: collapse;
        margin: auto;
        width: 100%;
    }

    .invoicecell {
        background-color: white;
        color: black;
        border: 1px solid darkgray;
        padding: 5px;
    }

    body {
        margin: 0px;
        font-family: 'Segoe UI', Arial;
    }

    .invoice-head {
        clear: both;
        display: block;
        padding: 10px;
        margin-bottom: 40px;
    }

    .invoice-title {
        background-color: navy;
        color: white;
        font-size: 20px;
        padding: 10px;
        width: 100%;
    }

    .invoice-to {
        float: left;
    }

    .invoice-details {
        float: right;
    }

    td, th {
        padding: 10px;
    }

    .tdHead {
        padding: 2px;
    }
    /*th {
            background-color: navy;
            color: white;
        }*/

    /*td, th {
            border: 1px solid darkgray;
            padding: 5px;
        }*/

    .numeric-cell {
        text-align: right;
        border: 1px solid darkgray;
        padding: 5px;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
</style>

@{
    if (Model != null)
    {
        <table>
            <tr>
                <td class="tdHead">SAIGONTOURIST TRAVEL SERVICE CO., LTD</td>
                <td class="tdHead">SAIGONTOURIST TRAVEL SERVICE CO., LTD</td>
                <td class="tdHead">SAIGONTOURIST TRAVEL SERVICE CO., LTD</td>
            </tr>
            <tr>
                <td class="tdHead">45 LE THANH TON St, Dist.1, HCMC, VIETNAM</td>
                <td class="tdHead">45 LE THANH TON St, Dist.1, HCMC, VIETNAM</td>
                <td class="tdHead">45 LE THANH TON St, Dist.1, HCMC, VIETNAM</td>
            </tr>
            <tr>
                <td class="tdHead">Acc. Number (Foreign Currency): 007.1.37.008721.3</td>
                <td class="tdHead">Acc. Number (Foreign Currency): 007.1.37.008721.3</td>
                <td class="tdHead">Acc. Number (Foreign Currency): 007.1.37.008721.3</td>
            </tr>
            <tr>
                <td class="tdHead">Acc. Number (Local Currency): 007.1.00.001075.3</td>
                <td class="tdHead">Acc. Number (Local Currency): 007.1.00.001075.3</td>
                <td class="tdHead">Acc. Number (Local Currency): 007.1.00.001075.3</td>
            </tr>
            <tr>
                <td class="tdHead">Telephone: 84 8 38298914</td>
                <td class="tdHead">Telephone: 84 8 38298914</td>
                <td class="tdHead">Telephone: 84 8 38298914</td>
            </tr>
            <tr>
                <td class="tdHead">Fax: (84-8) 38110365</td>
                <td class="tdHead">Fax: (84-8) 38110365</td>
                <td class="tdHead">Fax: (84-8) 38110365</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b><i>BIÊN NHẬN (RECEIPT)</i></b> Liên 1: lưu</td>
                <td><b><i>BIÊN NHẬN (RECEIPT)</i></b> Liên 2: khách hàng</td>
                <td><b><i>BIÊN NHẬN (RECEIPT)</i></b> Liên 3: lưu</td>
            </tr>
            <tr>
                <td>Ngày: @Html.Raw(Model.BienNhan.NgayBN.ToString("dd/MM/yyyy")) Số: @Model.BienNhan.SoBN</td>
                <td>Ngày: @Html.Raw(Model.BienNhan.NgayBN.ToString("dd/MM/yyyy")) Số: @Model.BienNhan.SoBN</td>
                <td>Ngày: @Html.Raw(Model.BienNhan.NgayBN.ToString("dd/MM/yyyy")) Số: @Model.BienNhan.SoBN</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Họ tên (Name): <b>@Model.BienNhan.TenKhach</b></td>
                <td>Họ tên (Name): <b>@Model.BienNhan.TenKhach</b></td>
                <td>Họ tên (Name): <b>@Model.BienNhan.TenKhach</b></td>
            </tr>
            <tr>
                <td>Số hợp đồng: @Model.BienNhan.Tour.SoHopDong</td>
                <td>Số hợp đồng: @Model.BienNhan.Tour.SoHopDong</td>
                <td>Số hợp đồng: @Model.BienNhan.Tour.SoHopDong</td>
            </tr>
            <tr>
                <td>
                    <table class="invoicetable">
                        <thead>
                            <tr>
                                <th class="invoicecell">
                                    Diễn giải (Description)
                                </th>
                                <th class="invoicecell">
                                    Số tiền (Amount)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var item in Model.ChiTietBNs)
                                {
                                   <tr>
                                            <td class="invoicecell" style="border-bottom:1px solid #ffffff;">@item.Descript</td>
                                            <td class="numeric-cell" style="border-bottom:1px solid #ffffff;">@item.Amount.ToString("N0") VND</td>
                                        </tr>

                                                    }*@
                            <tr>
                                <td class="invoicecell">@Html.Raw(Model.ChiTietBNPrint.DienGiais)</td>
                                <td class="numeric-cell">@Html.Raw(Model.ChiTietBNPrint.SoTiens) </td>
                            </tr>
                            <tr>
                                <td class="invoicecell"><b>Tổng tiền(Total)</b> </td>
                                <td class="numeric-cell"><b>@Model.BienNhan.SoTien.ToString("N0")</b> </td>
                            </tr>

                            @*<tr>
                                    <td class="invoicecell">@Model.BienNhan.GhiChu</td>
                                    <td class="numeric-cell">@Html.Raw(String.Format("{0:#,##0}", Model.BienNhan.SoTien)) Đ</td>
                                </tr>
                                <tr>
                                    <td class="invoicecell">Tổng cộng(Total)</td>
                                    <td class="numeric-cell">@Html.Raw(String.Format("{0:#,##0}", Model.BienNhan.SoTien)) Đ</td>
                                </tr>*@
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="invoicetable">
                        <thead>
                            <tr>
                                <th class="invoicecell">
                                    Diễn giải (Description)
                                </th>
                                <th class="invoicecell">
                                    Số tiền (Amount)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="invoicecell">@Html.Raw(Model.ChiTietBNPrint.DienGiais)</td>
                                <td class="numeric-cell">@Html.Raw(Model.ChiTietBNPrint.SoTiens) </td>
                            </tr>
                            <tr>
                                <td class="invoicecell"><b>Tổng tiền(Total)</b> </td>
                                <td class="numeric-cell"><b>@Model.BienNhan.SoTien.ToString("N0")</b> </td>
                            </tr>

                            @*<tr>
            <td class="invoicecell">@Model.BienNhan.GhiChu</td>
            <td class="numeric-cell">@Html.Raw(String.Format("{0:#,##0}", Model.BienNhan.SoTien)) Đ</td>
        </tr>
        <tr>
            <td class="invoicecell">Tổng cộng(Total)</td>
            <td class="numeric-cell">@Html.Raw(String.Format("{0:#,##0}", Model.BienNhan.SoTien)) Đ</td>
        </tr>*@
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="invoicetable">
                        <thead>
                            <tr>
                                <th class="invoicecell">
                                    Diễn giải (Description)
                                </th>
                                <th class="invoicecell">
                                    Số tiền (Amount)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="invoicecell ">@Html.Raw(Model.ChiTietBNPrint.DienGiais)</td>
                                <td class="numeric-cell ">@Html.Raw(Model.ChiTietBNPrint.SoTiens) </td>
                            </tr>
                            <tr>
                                <td class="invoicecell"><b>Tổng tiền(Total)</b> </td>
                                <td class="numeric-cell"><b>@Model.BienNhan.SoTien.ToString("N0")</b> </td>
                            </tr>

                            @*<tr>
            <td class="invoicecell">@Model.BienNhan.GhiChu</td>
            <td class="numeric-cell">@Html.Raw(String.Format("{0:#,##0}", Model.BienNhan.SoTien)) Đ</td>
        </tr>
        <tr>
            <td class="invoicecell">Tổng cộng(Total)</td>
            <td class="numeric-cell">@Html.Raw(String.Format("{0:#,##0}", Model.BienNhan.SoTien)) Đ</td>
        </tr>*@
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Số tiền bằng chữ( Amount in words): <b>@Model.SoTienBangChu</b></td>
                <td>Số tiền bằng chữ( Amount in words): <b>@Model.SoTienBangChu</b></td>
                <td>Số tiền bằng chữ( Amount in words): <b>@Model.SoTienBangChu</b></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Ghi chú(Note): @Model.BienNhan.GhiChu</td>
                <td>Ghi chú(Note): @Model.BienNhan.GhiChu</td>
                <td>Ghi chú(Note): @Model.BienNhan.GhiChu</td>
            </tr>
            <tr>
                <td>-Xin vui lòng xuất trình biên nhận này khi thanh toán</td>
                <td>-Xin vui lòng xuất trình biên nhận này khi thanh toán</td>
                <td>-Xin vui lòng xuất trình biên nhận này khi thanh toán</td>
            </tr>
            <tr>
                <td>-Please present this receipt when settling the bill</td>
                <td>-Please present this receipt when settling the bill</td>
                <td>-Please present this receipt when settling the bill</td>
            </tr>
            <tr>
                <td>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>
                                    Khách hàng Client's signature
                                </td>
                                <td>
                                    Thu ngân Cashier
                                </td>
                                <td>Người lập Issuer </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td> <b>@Model.BienNhan.NguoiTao</b></td>
                            </tr>
                        </thead>

                    </table>
                </td>
                <td>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>
                                    Khách hàng Client's signature
                                </td>
                                <td>
                                    Thu ngân Cashier
                                </td>
                                <td>
                                    Người lập Issuer
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><b>@Model.BienNhan.NguoiTao</b></td>
                            </tr>
                        </thead>

                    </table>
                </td>
                <td>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>
                                    Khách hàng Client's signature
                                </td>
                                <td>
                                    Thu ngân Cashier
                                </td>
                                <td>
                                    Người lập Issuer
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td> <b>@Model.BienNhan.NguoiTao</b></td>
                            </tr>
                        </thead>

                    </table>
                </td>
            </tr>
        </table>


        @*<table class="table table-bordered">
                <tr>
                    <td class="tdHead">SAIGONTOURIST TRAVEL SERVICE CO., LTD</td>
                    <td class="tdHead">SAIGONTOURIST TRAVEL SERVICE CO., LTD</td>
                    <td class="tdHead">SAIGONTOURIST TRAVEL SERVICE CO., LTD</td>
                </tr>
                <tr>
                    <td class="tdHead">45 LE THANH TON St, Dist.1, HCMC, VIETNAM</td>
                    <td class="tdHead">45 LE THANH TON St, Dist.1, HCMC, VIETNAM</td>
                    <td class="tdHead">45 LE THANH TON St, Dist.1, HCMC, VIETNAM</td>
                </tr>
                <tr>
                    <td class="tdHead">Acc. Number (Foreign Currency): 007.1.37.008721.3</td>
                    <td class="tdHead">Acc. Number (Foreign Currency): 007.1.37.008721.3</td>
                    <td class="tdHead">Acc. Number (Foreign Currency): 007.1.37.008721.3</td>
                </tr>
                <tr>
                    <td class="tdHead">Acc. Number (Local Currency): 007.1.00.001075.3</td>
                    <td class="tdHead">Acc. Number (Local Currency): 007.1.00.001075.3</td>
                    <td class="tdHead">Acc. Number (Local Currency): 007.1.00.001075.3</td>
                </tr>
                <tr>
                    <td class="tdHead">Telephone: 84 8 38298914</td>
                    <td class="tdHead">Telephone: 84 8 38298914</td>
                    <td class="tdHead">Telephone: 84 8 38298914</td>
                </tr>
                <tr>
                    <td class="tdHead">Fax: (84-8) 38110365</td>
                    <td class="tdHead">Fax: (84-8) 38110365</td>
                    <td class="tdHead">Fax: (84-8) 38110365</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><b><i>BIÊN NHẬN (RECEIPT)</i></b> Liên 1: lưu</td>
                    <td><b><i>BIÊN NHẬN (RECEIPT)</i></b> Liên 2: khách hàng</td>
                    <td><b><i>BIÊN NHẬN (RECEIPT)</i></b> Liên 3: lưu</td>
                </tr>
                <tr>
                    <td>Ngày: @Html.Raw(Model.BienNhan.NgayBN.ToString("dd/MM/yyyy")) Số: @Model.BienNhan.SoBN</td>
                    <td>Ngày: @Html.Raw(Model.BienNhan.NgayBN.ToString("dd/MM/yyyy")) Số: @Model.BienNhan.SoBN</td>
                    <td>Ngày: @Html.Raw(Model.BienNhan.NgayBN.ToString("dd/MM/yyyy")) Số: @Model.BienNhan.SoBN</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Họ tên (Name): <b>@Model.BienNhan.TenKhach</b></td>
                    <td>Họ tên (Name): <b>@Model.BienNhan.TenKhach</b></td>
                    <td>Họ tên (Name): <b>@Model.BienNhan.TenKhach</b></td>
                </tr>
                <tr>
                    <td>Số hợp đồng: @Model.BienNhan.Tour.SoHopDong</td>
                    <td>Số hợp đồng: @Model.BienNhan.Tour.SoHopDong</td>
                    <td>Số hợp đồng: @Model.BienNhan.Tour.SoHopDong</td>
                </tr>
                <tr>
                    <td>
                        <table class="tablesotien table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Diễn giải (Description)
                                    </th>
                                    <th>
                                        Số tiền (Amount)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ChiTietBNs)
                                {
                                    <tr>
                                        <td class="invoicecell">@item.Descript</td>
                                        <td class="numeric-cell">@item.Amount.ToString("N0") VND</td>
                                    </tr>
                                }
                                <tr>
                                    <td class="invoicecell">Tổng tiền(Total) </td>
                                    <td class="numeric-cell">@Model.BienNhan.SoTien.ToString("N0") VND</td>
                                </tr>

                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table class="tablesotien table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Diễn giải (Description)
                                    </th>
                                    <th>
                                        Số tiền (Amount)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ChiTietBNs)
                                {
                                    <tr>
                                        <td class="invoicecell">@item.Descript</td>
                                        <td class="numeric-cell">@item.Amount.ToString("N0") VND</td>
                                    </tr>
                                }
                                <tr>
                                    <td class="invoicecell">Tổng tiền(Total) </td>
                                    <td class="numeric-cell">@Model.BienNhan.SoTien.ToString("N0") VND</td>
                                </tr>

                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table class="tablesotien table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Diễn giải (Description)
                                    </th>
                                    <th>
                                        Số tiền (Amount)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ChiTietBNs)
                                {
                                    <tr>
                                        <td class="invoicecell">@item.Descript</td>
                                        <td class="numeric-cell">@item.Amount.ToString("N0") VND</td>
                                    </tr>
                                }
                                <tr>
                                    <td class="invoicecell">Tổng tiền(Total) </td>
                                    <td class="numeric-cell">@Model.BienNhan.SoTien.ToString("N0") VND</td>
                                </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Số tiền bằng chữ( Amount in words): <b>@Model.SoTienBangChu</b></td>
                    <td>Số tiền bằng chữ( Amount in words): <b>@Model.SoTienBangChu</b></td>
                    <td>Số tiền bằng chữ( Amount in words): <b>@Model.SoTienBangChu</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Ghi chú(Note): </td>
                    <td>Ghi chú(Note): </td>
                    <td>Ghi chú(Note): </td>
                </tr>
                <tr>
                    <td>-Xin vui lòng xuất trình biên nhận này khi thanh toán</td>
                    <td>-Xin vui lòng xuất trình biên nhận này khi thanh toán</td>
                    <td>-Xin vui lòng xuất trình biên nhận này khi thanh toán</td>
                </tr>
                <tr>
                    <td>-Please present this receipt when settling the bill</td>
                    <td>-Please present this receipt when settling the bill</td>
                    <td>-Please present this receipt when settling the bill</td>
                </tr>
                <tr>
                    <td>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>
                                        Khách hàng Client's signature
                                    </td>
                                    <td>
                                        Thu ngân Cashier
                                    </td>
                                    <td>Người lập Issuer </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td> <b>@Model.BienNhan.NguoiTao</b></td>
                                </tr>
                            </thead>

                        </table>
                    </td>
                    <td>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>
                                        Khách hàng Client's signature
                                    </td>
                                    <td>
                                        Thu ngân Cashier
                                    </td>
                                    <td>
                                        Người lập Issuer
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td> <b>@Model.BienNhan.NguoiTao</b></td>
                                </tr>
                            </thead>

                        </table>
                    </td>
                    <td>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>
                                        Khách hàng Client's signature
                                    </td>
                                    <td>
                                        Thu ngân Cashier
                                    </td>
                                    <td>
                                        Người lập Issuer
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td> <b>@Model.BienNhan.NguoiTao</b></td>
                                </tr>
                            </thead>

                        </table>
                    </td>
                </tr>
            </table>*@

    }
    else
    {
        <div class="modal-header bg-gray">
            <a href="#" class="close" data-dismiss="modal">&times;</a>
            <h3>BIÊN NHẬN: </h3>
        </div>
    }
}

@*<div class="modal-footer ">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal"><i class="fas fa-power-off"></i></button>
        <button type="submit" class="btn btn-outline-primary"><i class="fas fa-save"></i></button>
        <a class="btn btn-outline-primary" title="Danh sách nguyên nhân" asp-controller="CacNoiDungHuyTours" asp-action="Index"><i class="fas fa-list"></i></a>
    </div>*@

@*<style>
        .tablesotien, .tablesotien td {
            border-color: black;
        }

            .tablesotien > thead > tr > th,
            .tablesotien > tbody > tr > th,
            .tablesotien > tfoot > tr > th,
            .tablesotien > thead > tr > td,
            .tablesotien > tbody > tr > td,
            .tablesotien > tfoot > tr > td {
                border: 0.5px solid #000000;
            }
    </style>*@
