@model BienNhanViewModel



@{
    if (Model != null)
    {

        <table class="table table-bordered">
            <tr>
                <td>SAIGONTOURIST TRAVEL SERVICE CO., LTD</td>
                <td>SAIGONTOURIST TRAVEL SERVICE CO., LTD</td>
                <td>SAIGONTOURIST TRAVEL SERVICE CO., LTD</td>
            </tr>
            <tr>
                <td>45 LE THANH TON St, Dist.1, HCMC, VIETNAM</td>
                <td>45 LE THANH TON St, Dist.1, HCMC, VIETNAM</td>
                <td>45 LE THANH TON St, Dist.1, HCMC, VIETNAM</td>
            </tr>
            <tr>
                <td>Acc. Number (Foreign Currency): 007.1.37.008721.3</td>
                <td>Acc. Number (Foreign Currency): 007.1.37.008721.3</td>
                <td>Acc. Number (Foreign Currency): 007.1.37.008721.3</td>
            </tr>
            <tr>
                <td>Acc. Number (Local Currency): 007.1.00.001075.3</td>
                <td>Acc. Number (Local Currency): 007.1.00.001075.3</td>
                <td>Acc. Number (Local Currency): 007.1.00.001075.3</td>
            </tr>
            <tr>
                <td>Telephone: 84 8 38298914</td>
                <td>Telephone: 84 8 38298914</td>
                <td>Telephone: 84 8 38298914</td>
            </tr>
            <tr>
                <td>Fax: (84-8) 38110365</td>
                <td>Fax: (84-8) 38110365</td>
                <td>Fax: (84-8) 38110365</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b><i>BIÊN NHẬN (RECEIPT)</i></b> Liên 1: lưu</td>
                <td><b><i>BIÊN NHẬN (RECEIPT)</i></b> Liên 2: khách hàng</td>
                <td><b><i>BIÊN NHẬN (RECEIPT)</i></b> Liên 3: lưu</td>
            </tr>
            <tr>
                <td>Ngày: @Html.Raw(Model.BienNhan.NgayBN.ToString("dd/MM/yyyy")) Số: @Model.BienNhan.SoBN</td>
                <td>Ngày: @Html.Raw(Model.BienNhan.NgayBN.ToString("dd/MM/yyyy")) Số: @Model.BienNhan.SoBN</td>
                <td>Ngày: @Html.Raw(Model.BienNhan.NgayBN.ToString("dd/MM/yyyy")) Số: @Model.BienNhan.SoBN</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Họ tên (Name): <b>@Model.BienNhan.TenKhach</b></td>
                <td>Họ tên (Name): <b>@Model.BienNhan.TenKhach</b></td>
                <td>Họ tên (Name): <b>@Model.BienNhan.TenKhach</b></td>
            </tr>
            <tr>
                <td>Số hợp đồng: @Model.BienNhan.Tour.SoHopDong</td>
                <td>Số hợp đồng: @Model.BienNhan.Tour.SoHopDong</td>
                <td>Số hợp đồng: @Model.BienNhan.Tour.SoHopDong</td>
            </tr>
            <tr>
                <td>
                    <table class="tablesotien table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Diễn giải (Description)
                                </th>
                                <th>
                                    Số tiền (Amount)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.BienNhan.GhiChu</td>
                                <td>@Html.Raw(String.Format("{0:#,##0}", Model.BienNhan.SoTien))</td>
                            </tr>
                            <tr>
                                <td>Tổng cộng(Total)</td>
                                <td>@Html.Raw(String.Format("{0:#,##0}", Model.BienNhan.SoTien))</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="tablesotien table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Diễn giải (Description)
                                </th>
                                <th>
                                    Số tiền (Amount)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.BienNhan.GhiChu</td>
                                <td>@Html.Raw(String.Format("{0:#,##0}", Model.BienNhan.SoTien))</td>
                            </tr>
                            <tr>
                                <td>Tổng cộng(Total)</td>
                                <td>@Html.Raw(String.Format("{0:#,##0}", Model.BienNhan.SoTien))</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="tablesotien table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Diễn giải (Description)
                                </th>
                                <th>
                                    Số tiền (Amount)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.BienNhan.GhiChu</td>
                                <td>@Html.Raw(String.Format("{0:#,##0}", Model.BienNhan.SoTien))</td>
                            </tr>
                            <tr>
                                <td>Tổng cộng(Total)</td>
                                <td>@Html.Raw(String.Format("{0:#,##0}", Model.BienNhan.SoTien))</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Số tiền bằng chữ( Amount in words): <b>@*@Model.tienbangchu*@</b></td>
                <td>Số tiền bằng chữ( Amount in words): <b>@*@Model.tienbangchu*@</b></td>
                <td>Số tiền bằng chữ( Amount in words): <b>@*@Model.tienbangchu*@</b></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Ghi chú(Note): @*@Model.bienhanhd.ghichu*@</td>
                <td>Ghi chú(Note): @*@Model.bienhanhd.ghichu*@</td>
                <td>Ghi chú(Note): @*@Model.bienhanhd.ghichu*@</td>
            </tr>
            <tr>
                <td>-Xin vui lòng xuất trình biên nhận này khi thanh toán</td>
                <td>-Xin vui lòng xuất trình biên nhận này khi thanh toán</td>
                <td>-Xin vui lòng xuất trình biên nhận này khi thanh toán</td>
            </tr>
            <tr>
                <td>-Please present this receipt when settling the bill</td>
                <td>-Please present this receipt when settling the bill</td>
                <td>-Please present this receipt when settling the bill</td>
            </tr>
            <tr>
                <td>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>
                                    Khách hàng Client's signature
                                </td>
                                <td>
                                    Thu ngân Cashier
                                </td>
                                <td>Người lập Issuer </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td> <b>@Model.BienNhan.NguoiTao</b></td>
                            </tr>
                        </thead>

                    </table>
                </td>
                <td>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>
                                    Khách hàng Client's signature
                                </td>
                                <td>
                                    Thu ngân Cashier
                                </td>
                                <td>
                                    Người lập Issuer
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td> <b>@Model.BienNhan.NguoiTao</b></td>
                            </tr>
                        </thead>

                    </table>
                </td>
                <td>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>
                                    Khách hàng Client's signature
                                </td>
                                <td>
                                    Thu ngân Cashier
                                </td>
                                <td>
                                    Người lập Issuer
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td> <b>@Model.BienNhan.NguoiTao</b></td>
                            </tr>
                        </thead>

                    </table>
                </td>
            </tr>
        </table>

    }
    else
    {
        <div class="modal-header bg-gray">
            <a href="#" class="close" data-dismiss="modal">&times;</a>
            <h3>BIÊN NHẬN: </h3>
        </div>
    }
}

<div class="modal-footer ">
    <button type="button" class="btn btn-outline-dark" data-dismiss="modal"><i class="fas fa-power-off"></i></button>
    <button type="submit" class="btn btn-outline-primary"><i class="fas fa-save"></i></button>
    <a class="btn btn-outline-primary" title="Danh sách nguyên nhân" asp-controller="CacNoiDungHuyTours" asp-action="Index"><i class="fas fa-list"></i></a>
</div>

@*<style>
        .tablesotien, .tablesotien td {
            border-color: black;
        }

            .tablesotien > thead > tr > th,
            .tablesotien > tbody > tr > th,
            .tablesotien > tfoot > tr > th,
            .tablesotien > thead > tr > td,
            .tablesotien > tbody > tr > td,
            .tablesotien > tfoot > tr > td {
                border: 0.5px solid #000000;
            }
    </style>*@
