@model TourViewModel
@using Microsoft.AspNetCore.Http
@using Data.Utilities
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Create";
    var user = HttpContextAccessor.HttpContext.Session.Gets<User>("loginUser").SingleOrDefault();

}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm Mới</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a asp-controller="KhachHangs" asp-route-strUrl="@Model.StrUrl" asp-action="DetailsRedirect">Danh Sách Tour</a></li>
                    <li class="breadcrumb-item active">Thêm Mới Tour</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-file text-info"></i> Thêm Mới Tour</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            <form method="post" autocomplete="off" id="frmTourCreate" enctype="multipart/form-data">
                <div class="p-4 border rounded ">

                    <input type="hidden" value="@ViewBag.chiNhanhTaoId" id="hidChiNhanhTaoId" />

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group row">

                        <div class="col-md-3">
                            <label asp-for="Tour.ChiNhanhDHId" class="control-label text-red"></label>(<strong class="text-red">*</strong>)
                            <select asp-for="Tour.ChiNhanhDHId" class="form-control select2"
                                    asp-items="@(new SelectList(Model.Dmchinhanhs, "Id", "Macn"))" id="ddlChiNhanhDH">
                                <!-- qltour -->
                            </select>
                            <span asp-validation-for="Tour.ChiNhanhDHId" class="text-danger"></span>
                            <span class="badge badge-danger float-left" id="spanChiNhanhAlert" hidden>(*)Nếu chi nhánh tạo khác chi nhánh ĐH lần sau sẽ không cập nhật được chi nhánh ĐH</span>
                        </div>


                        <div class="col-md-3">
                            <label asp-for="Tour.PhongDH" class="control-label text-red"></label>(<strong class="text-red">*</strong>)
                            <select asp-for="Tour.PhongDH" class="form-control select2"
                                    asp-items="@(new SelectList(Model.listPhongDH, "Maphong", "Tenphong"))" id="ddlPhongDH">
                                <!-- qltour -->
                            </select>
                            <span asp-validation-for="Tour.PhongDH" class="text-danger"></span>
                        </div>

                        @*<div class="col-md-3"> <!-- qltour -->
                                <label asp-for="Tour.PhongBanMaCode" class="control-label"></label>
                                <select asp-for="Tour.PhongBanMaCode" class="form-control select2"
                                        asp-items="@(new SelectList(Model.listPhongMacode, "Macode", "Macode"))" id="ddlPhongBanMaCode">

                                </select>
                                <span asp-validation-for="Tour.PhongBanMaCode" class="text-danger"></span>
                            </div>*@

                        <div class="col-md-3 ">
                            <label asp-for="Tour.NgayDen" class="control-label text-red"></label>(<strong class="text-red">*</strong>)
                            <input type="text" value="" asp-for="Tour.NgayDen" class="form-control maskInput" id="txtNgayDen" />
                            <span asp-validation-for="Tour.NgayDen" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="Tour.NgayDi" class="control-label text-red"></label>(<strong class="text-red">*</strong>)
                            <input type="text" value="" asp-for="Tour.NgayDi" class="form-control maskInput" id="txtNgayDi" />
                            <span asp-validation-for="Tour.NgayDi" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">

                        @*<div class="col-md-3">
                            <label asp-for="Tour.SoHopDong" class="control-label"></label>
                            <input asp-for="Tour.SoHopDong" class="form-control" />
                            <span asp-validation-for="Tour.SoHopDong" class="text-danger"></span>
                        </div>*@

                        <div class="col-md-12 chuDeTourGroup">
                            <label asp-for="Tour.ChuDeTour" class="control-label text-red"></label>(<strong class="text-red">*</strong>)
                            <input asp-for="Tour.ChuDeTour" class="form-control" id="txtChuDeTour" />
                            <span asp-validation-for="Tour.ChuDeTour" class="text-danger"></span>
                        </div>

                    </div>


                    <div class="form-group row">

                        <div class="col-md-12">
                            @*<input type="hidden" id="hidTuyenTQ" value="@ViewBag.tuyenTQ"/>*@
                            <label asp-for="Tour.TuyenTQ" class="control-label text-red"></label>(<strong class="text-red">*</strong>)
                            <input type="hidden" asp-for="Tour.TuyenTQ" id="hidDdlTuyenTQ" />
                            <select class="tuyenTQ select2-hidden-accessible" multiple="" data-placeholder="Chọn tỉnh" style="width: 100%;" data-select2-id="23" tabindex="-1" aria-hidden="true"
                                    asp-items="@(new SelectList(Model.Thanhphos, "Tentp", "Tentp"))" id="ddlTuyenTQ">
                            </select>
                            <span asp-validation-for="Tour.TuyenTQ" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-2">
                            <label asp-for="Tour.SoKhachDK" class="control-label text-red"></label>(<strong class="text-red">*</strong>)
                            <input asp-for="Tour.SoKhachDK" class="form-control" id="txtSoKhachDK" />
                            <span asp-validation-for="Tour.SoKhachDK" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <label asp-for="Tour.DoanhThuDK" class="control-label text-red"></label>(<strong class="text-red">*</strong>)
                            <input type="text" asp-for="Tour.DoanhThuDK" class="form-control numbers" id="txtDoanhThuDK" />
                            <span asp-validation-for="Tour.DoanhThuDK" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <label asp-for="Tour.SoKhachTT" class="control-label"></label>
                            <input asp-for="Tour.SoKhachTT" class="form-control " id="txtSoKhachTT" />
                            <span asp-validation-for="Tour.SoKhachTT" class="text-danger"></span>
                        </div>

                        <div class="col-md-2 ">
                            <label asp-for="Tour.SKTreEm" class="control-label"></label>
                            <input asp-for="Tour.SKTreEm" class="form-control" />
                            <span asp-validation-for="Tour.SKTreEm" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <label asp-for="Tour.DoanhThuTT" class="control-label"></label>
                            <input type="text" asp-for="Tour.DoanhThuTT" class="form-control numbers" id="txtDoanhThuTT" />
                            <span asp-validation-for="Tour.DoanhThuTT" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <label asp-for="Tour.NguonTour" class="control-label"></label>
                            <select asp-for="Tour.NguonTour" class="form-control " id="ddlNguonTour"
                                    asp-items="@(new SelectList(Model.NguonTours, "Name", "Name"))">
                                <!-- Local -->
                            </select>
                            <span asp-validation-for="Tour.NguonTour" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-5">
                            <label asp-for="Tour.LoaiTourId" class="control-label text-red"></label>(<strong class="text-red">*</strong>)
                            <select asp-for="Tour.LoaiTourId" class="form-control " id="ddlLoaiTour"
                                    asp-items="@(new SelectList(Model.Tourkinds, "Id", "TourkindInf"))">
                                <!-- tourkind: qltour-->
                            </select>
                            <span asp-validation-for="Tour.LoaiTourId" class="text-danger"></span>
                        </div>

                        <div class="col-md-3 ">
                            <label asp-for="Tour.LoaiTien" class="control-label text-red"></label>(<strong class="text-red">*</strong>)
                            <select asp-for="Tour.LoaiTien" class="form-control " id="ddlLoaiTien"
                                    asp-items="@(new SelectList(Model.Ngoaites, "MaNt", "MaNt"))">
                                <!-- ngoaite: qltour-->
                            </select>
                            <span asp-validation-for="Tour.LoaiTien" class="text-danger"></span>
                        </div>

                        <div class="col-md-2 ">
                            <label asp-for="Tour.TyGia" class="control-label text-red"></label>(<strong class="text-red">*</strong>)
                            <input type="text" asp-for="Tour.TyGia" class="form-control numbers" id="txtTyGia" />
                            <span asp-validation-for="Tour.TyGia" class="text-danger"></span>
                        </div>

                        <div class="col-md-2 ">
                            <label asp-for="Tour.LoaiKhach" class="control-label"></label>
                            <select asp-for="Tour.LoaiKhach" class="form-control "
                                    asp-items="@(new SelectList(Model.LoaiKhachs, "Name", "Name"))">
                                <!-- ngoaite: qltour-->
                            </select>
                            <span asp-validation-for="Tour.LoaiKhach" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">

                        @if (user.PhongBanId == "KDOB")
                        {
                            <div class="col-md-5">
                                <label asp-for="Tour.MaKH" class="control-label text-red"></label>(<strong class="text-red">*</strong>)
                                <input asp-for="Tour.MaKH" class="form-control" id="ddlMaKh" readonly/>
                                <span asp-validation-for="Tour.MaKH" class="text-danger"></span>
                            </div>

                        }
                        else
                        {
                            <div class="col-md-5">
                                <label asp-for="Tour.MaKH" class="control-label text-red"></label>(<strong class="text-red">*</strong>)
                                <select asp-for="Tour.MaKH" class="form-control select2" id="ddlMaKh"
                                        asp-items="@(new SelectList(Model.CompaniesViewModel, "CompanyId", "CompanyName"))">
                                </select>
                                <span asp-validation-for="Tour.MaKH" class="text-danger"></span>
                            </div>

                        }

                        <div class="col-md-7">
                            <label asp-for="Tour.TenKH" class="control-label text-red"></label>(<strong class="text-red">*</strong>)
                            <input asp-for="Tour.TenKH" class="form-control" id="txtTenKH" />
                            <span asp-validation-for="Tour.TenKH" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-2">
                            <label asp-for="Tour.DienThoai" class="control-label"></label>
                            <input asp-for="Tour.DienThoai" class="form-control" />
                            <span asp-validation-for="Tour.DienThoai" class="text-danger"></span>
                        </div>

                        <div class="col-md-10">
                            <label asp-for="Tour.DiaChi" class="control-label"></label>
                            <input asp-for="Tour.DiaChi" class="form-control" id="txtDiaChi" />
                            <span asp-validation-for="Tour.DiaChi" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-2">
                            <label asp-for="Tour.Fax" class="control-label"></label>
                            <input asp-for="Tour.Fax" class="form-control" id="txtFax" />
                            <span asp-validation-for="Tour.Fax" class="text-danger"></span>
                        </div>

                        <div class="col-md-4">
                            <label asp-for="Tour.Email" class="control-label"></label>
                            <input asp-for="Tour.Email" class="form-control" id="txtEmail" />
                            <span asp-validation-for="Tour.Email" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="Tour.NgayDamPhan" class="control-label"></label>
                            <input type="text" value="" asp-for="Tour.NgayDamPhan" class="form-control maskInput" />
                            <span asp-validation-for="Tour.NgayDamPhan" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="Tour.NgayKyHopDong" class="control-label"></label>
                            <input type="text" value="" asp-for="Tour.NgayKyHopDong" class="form-control maskInput" id="txtNgayKyHD"/>
                            <span asp-validation-for="Tour.NgayKyHopDong" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-3">
                            <label asp-for="Tour.NguoiKyHopDong" class="control-label"></label>
                            <input asp-for="Tour.NguoiKyHopDong" class="form-control" />
                            <span asp-validation-for="Tour.NguoiKyHopDong" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="Tour.NguoiDaiDien" class="control-label"></label>
                            <input asp-for="Tour.NguoiDaiDien" class="form-control " />
                            <span asp-validation-for="Tour.NguoiDaiDien" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="Tour.DoiTacNuocNgoai" class="control-label"></label>
                            <input asp-for="Tour.DoiTacNuocNgoai" class="form-control" />
                            <span asp-validation-for="Tour.DoiTacNuocNgoai" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="Tour.HinhThucGiaoDich" class="control-label"></label>
                            <input asp-for="Tour.HinhThucGiaoDich" class="form-control " />
                            <span asp-validation-for="Tour.HinhThucGiaoDich" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-3">
                            <label asp-for="Tour.HanXuatVe" class="control-label"></label>
                            <input type="text" value="" asp-for="Tour.HanXuatVe" class="form-control maskInput" />
                            <span asp-validation-for="Tour.HanXuatVe" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="Tour.NgayThanhLyHD" class="control-label"></label>
                            <input type="text" value="" asp-for="Tour.NgayThanhLyHD" class="form-control maskInput" />
                            <span asp-validation-for="Tour.NgayThanhLyHD" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="Tour.NgayNhanDuTien" class="control-label"></label>
                            <input type="text" asp-for="Tour.NgayNhanDuTien" class="form-control maskInput" />
                            <span asp-validation-for="Tour.NgayNhanDuTien" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="Tour.LyDoNhanDu" class="control-label"></label>
                            <input asp-for="Tour.LyDoNhanDu" class="form-control" />
                            <span asp-validation-for="Tour.LyDoNhanDu" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">

                        <div class="col-md-6">
                            <label asp-for="Tour.LaiChuaVe" class="control-label"></label>
                            <input type="text" asp-for="Tour.LaiChuaVe" class="form-control numbers" />
                            <span asp-validation-for="Tour.LaiChuaVe" class="text-danger"></span>
                        </div>

                        <div class="col-md-6">
                            <label asp-for="Tour.LaiGomVe" class="control-label"></label>
                            <input type="text" asp-for="Tour.LaiGomVe" class="form-control numbers" />
                            <span asp-validation-for="Tour.LaiGomVe" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-6">
                            <label class="control-label">Upload DS khách</label>
                            <input type="file" class="form-control" id="fUpload" name="files">
                            <div id="dvData"></div><!-- error response -->
                        </div>

                        <div class="col-md-6">
                            <label class="control-label">Download file mẫu</label>
                            <br />
                            <a title="File mẫu" class="btn btn-success" asp-controller="Tours" asp-action="DownloadExcel"><i class="fas fa-download fa-1x"></i></a>
                        </div>

                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="btnSubmit"><i class="fas fa-save"></i> Save</button>
                        <a class="btn btn-success" asp-controller="KhachHangs" asp-route-strUrl="@Model.StrUrl" asp-action="DetailsRedirect"><i class="fas fa-backward "></i> Back</a>
                    </div>
                </div>
            </form>



        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

@section Scripts{
    @*<script>

            $(function () {
                $(".datepicker").datepicker({
                    dateFormat: 'dd/mm/yy'
                });
            });
        </script>*@

    <script src="~/js/Admin/Tours/createController.js"></script>

    <!-- select2 and multi select2 (bootstrap4)-->

    <script>
        //$('#txtMaKH').select2()
        $('.select2').select2()
        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })
        $('.tuyenTQ').select2({
            theme: 'bootstrap4'
        })

        // Set selected 
        $('.select2').val(@Model.Dmchinhanhs.Where(x => x.Macn == user.MaCN).FirstOrDefault().Id);
        $('.select2').select2().trigger('change');

    </script>

    <!-- Validation -->
    <script>

        $('#frmTourCreate').validate({
            //rules: {
            //    email: {
            //        required: true,
            //        email: true,
            //    },
            //    NgayDen: {
            //        required: true
            //    },
            //    chuDetour1: {
            //        required: true
            //    },
            //},
            //messages: {
            //    email: {
            //        required: "Please enter a email address",
            //        email: "Please enter a vaild email address"
            //    },
            //    NgayDen: {
            //        required: "Please provide a date"
            //    },
            //    chuDetour1: "Please enter value"
            //},
            errorElement: 'span',
            errorPlacement: function (error, element) {
                // add error text

                //error.addClass('invalid-feedback').removeClass('error');
                //element.closest('.chuDeTourGroup').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

        $('#txtChuDeTour').rules('add', {
            required: true,
            messages: {
                //required: "Chủ đề không được để trống"
            }
        });

        $('#txtNgayDen').rules('add', {
            required: true,
            messages: {
                // required: "Ngày đến không được để trống"
            }
        });

        $('#txtNgayDi').rules('add', {
            required: true,
            messages: {
                // required: "Ngày đến không được để trống"
            }
        });

        $('#ddlTuyenTQ').rules('add', {
            required: true,
            messages: {
                // required: "Chủ đề không được để trống"
            }
        });

        $('#txtSoKhachDK').rules('add', {
            required: true,
            messages: {
                // required: "Ngày đến không được để trống"
            }
        });

        $('#txtDoanhThuDK').rules('add', {
            required: true,
            messages: {
                // required: "Ngày đến không được để trống"
            }
        });

        $('#txtMaKH').rules('add', {
            required: true,
            messages: {
                // required: "Ngày đến không được để trống"
            }
        });

        $('#txtTenKH').rules('add', {
            required: true,
            messages: {
                // required: "Ngày đến không được để trống"
            }
        });

        $('#ddlLoaiTour').rules('add', {
            required: true,
            messages: {
                // required: "Ngày đến không được để trống"
            }
        });

        $('#ddlChiNhanhDH').rules('add', {
            required: true,
            messages: {
                // required: "Ngày đến không được để trống"
            }
        });

        $('#ddlPhongDH').rules('add', {
            required: true,
            messages: {
                // required: "Ngày đến không được để trống"
            }
        });

        $('#ddlPhongBanMaCode').rules('add', {
            required: true,
            messages: {
                // required: "Ngày đến không được để trống"
            }
        });

        //$('#fUpload').rules('add', {
        //    required: true,
        //    messages: {
        //        // required: "Ngày đến không được để trống"
        //    }
        //});

        $('#ddlLoaiTien').rules('add', {
            required: true,
            messages: {
                // required: "Ngày đến không được để trống"
            }
        });

        $('#txtTyGia').rules('add', {
            required: true,
            messages: {
                // required: "Ngày đến không được để trống"
            }
        });

        $('#ddlLoaiTour').rules('add', {
            required: true,
            messages: {
                // required: "Ngày đến không được để trống"
            }
        });
        
        $('#txtNgayKyHD').rules('add', {
            dateFormat: true,
            messages: {
                //date: "(***)"
            }
        });

    </script>

}
