@model TourViewModel

@{
    ViewData["Title"] = "Details";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Chi Tiết</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a asp-controller="KhachHangs" asp-route-strUrl="@Model.StrUrl" asp-action="DetailsRedirect">Danh Sách Tour</a></li>
                    <li class="breadcrumb-item active">Chi tiết Tour</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-file text-info"></i> Chi tiết Tour</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            <form method="post" autocomplete="off" id="frmTourCreate">
                <div class="p-4 border rounded ">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group row">

                        <div class="col-md-1">
                            <label class="control-label">CNDH</label>
                            <input type="text" asp-for="TourDto.MaCNDH" class="form-control" readonly />
                        </div>

                        <div class="col-md-2">
                            <label asp-for="Tour.PhongBanMaCode" class="control-label"></label>
                            <input asp-for="Tour.PhongBanMaCode" class="form-control" readonly />
                        </div>

                        <div class="col-md-3">
                            <label asp-for="TourDto.Sgtcode" class="control-label"></label>
                            <input asp-for="TourDto.Sgtcode" class="form-control" readonly />
                        </div>

                        <div class="col-md-2">
                            <label asp-for="TourDto.SoHopDong" class="control-label"></label>
                            <input asp-for="TourDto.SoHopDong" class="form-control" readonly />
                        </div>

                        <div class="col-md-2">
                            <label asp-for="TourDto.NgayTao" class="control-label"></label>
                            <input value="@Model.TourDto.NgayTao.ToString("dd/MM/yyyy") " type="text" class="form-control" readonly />
                        </div>

                        <div class="col-md-2">
                            <label asp-for="TourDto.NguoiTao" class="control-label"></label>
                            <input asp-for="TourDto.NguoiTao" class="form-control" readonly />
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-3 chuDeTourGroup">
                            <label asp-for="TourDto.NgayDen" class="control-label"></label>
                            <input type="text" asp-for="TourDto.NgayDen" class="form-control maskInput" id="txtNgayDen" readonly />
                        </div>

                        <div class="col-md-3">
                            <label asp-for="TourDto.NgayDi" class="control-label"></label>
                            <input type="text" asp-for="TourDto.NgayDi" class="form-control maskInput" id="txtNgayDi" readonly />
                        </div>

                        <div class="col-md-6 chuDeTourGroup">
                            <label asp-for="TourDto.ChuDeTour" class="control-label"></label>
                            <input asp-for="TourDto.ChuDeTour" class="form-control" id="txtChuDeTour" readonly />
                        </div>

                    </div>


                    <div class="form-group row">

                        <div class="col-md-12">
                            <label asp-for="TourDto.TuyenTQ" class="control-label"></label>
                            <input asp-for="TourDto.TuyenTQ" class="form-control" readonly />
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-2">
                            <label asp-for="TourDto.SoKhachDK" class="control-label"></label>
                            <input asp-for="TourDto.SoKhachDK" class="form-control" id="txtSoKhachDK" readonly />
                        </div>

                        <div class="col-md-2">
                            <label asp-for="TourDto.DoanhThuDK" class="control-label"></label>
                            <input type="text" asp-for="TourDto.DoanhThuDK" class="form-control numbers" id="txtDoanhThuDK" asp-format="{0:0,0}" readonly />
                        </div>

                        <div class="col-md-2">
                            <label asp-for="TourDto.SoKhachTT" class="control-label"></label>
                            <input asp-for="TourDto.SoKhachTT" class="form-control " readonly />
                        </div>

                        <div class="col-md-2 ">
                            <label asp-for="TourDto.SKTreEm" class="control-label"></label>
                            <input asp-for="TourDto.SKTreEm" class="form-control" readonly />
                        </div>

                        <div class="col-md-2">
                            <label asp-for="TourDto.DoanhThuTT" class="control-label"></label>
                            <input type="text" asp-for="TourDto.DoanhThuTT" class="form-control numbers" asp-format="{0:0,0}" readonly />
                        </div>

                        <div class="col-md-2">
                            <label asp-for="TourDto.NguonTour" class="control-label"></label>
                            <input asp-for="TourDto.NguonTour" class="form-control" readonly/>
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-6">
                            <label asp-for="TourDto.TenLoaiTour" class="control-label"></label>
                            <input asp-for="TourDto.TenLoaiTour" class="form-control" readonly />
                        </div>

                        <div class="col-md-3 ">
                            <label asp-for="TourDto.LoaiTien" class="control-label"></label>
                            <input asp-for="TourDto.LoaiTien" class="form-control" readonly />
                            <span asp-validation-for="Tour.LoaiTien" class="text-danger"></span>
                        </div>

                        <div class="col-md-1 ">
                            <label asp-for="TourDto.TyGia" class="control-label"></label>
                            <input type="text" asp-for="TourDto.TyGia" class="form-control" asp-format="{0:0,0}" readonly />
                        </div>

                        <div class="col-md-2 ">
                            <label asp-for="Tour.LoaiKhach" class="control-label"></label>
                            <input asp-for="Tour.LoaiKhach" class="form-control" readonly />
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-2">
                            <label asp-for="Tour.MaKH" class="control-label"></label>
                            <input asp-for="Tour.MaKH" class="form-control" readonly />
                        </div>

                        <div class="col-md-10">
                            <label asp-for="Tour.TenKH" class="control-label"></label>
                            <input asp-for="Tour.TenKH" class="form-control" id="txtTenKH" readonly />
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-2">
                            <label asp-for="Tour.DienThoai" class="control-label"></label>
                            <input asp-for="Tour.DienThoai" class="form-control" id="txtDienThoai" readonly />
                        </div>

                        <div class="col-md-10">
                            <label asp-for="Tour.DiaChi" class="control-label"></label>
                            <input asp-for="Tour.DiaChi" class="form-control" id="txtDiaChi" readonly />
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-2">
                            <label asp-for="Tour.Fax" class="control-label"></label>
                            <input asp-for="Tour.Fax" class="form-control" id="txtFax" readonly />
                        </div>

                        <div class="col-md-4">
                            <label asp-for="Tour.Email" class="control-label"></label>
                            <input asp-for="Tour.Email" class="form-control" id="txtEmail" readonly />
                        </div>

                        <div class="col-md-3">
                            <label asp-for="TourDto.NgayDamPhan" class="control-label"></label>
                            <input type="text" asp-for="TourDto.NgayDamPhan" class="form-control maskInput" readonly />
                        </div>

                        <div class="col-md-3">
                            <label asp-for="TourDto.NgayKyHopDong" class="control-label"></label>
                            <input type="text" asp-for="TourDto.NgayKyHopDong" class="form-control maskInput" readonly />
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-3">
                            <label asp-for="TourDto.NguoiKyHopDong" class="control-label"></label>
                            <input asp-for="TourDto.NguoiKyHopDong" class="form-control" readonly />
                        </div>

                        <div class="col-md-3">
                            <label asp-for="TourDto.NguoiDaiDien" class="control-label"></label>
                            <input type="text" asp-for="TourDto.NguoiDaiDien" class="form-control maskInput" readonly />
                        </div>

                        <div class="col-md-3">
                            <label asp-for="TourDto.DoiTacNuocNgoai" class="control-label"></label>
                            <input asp-for="TourDto.DoiTacNuocNgoai" class="form-control" readonly />
                        </div>

                        <div class="col-md-3">
                            <label asp-for="TourDto.HinhThucGiaoDich" class="control-label"></label>
                            <input asp-for="TourDto.HinhThucGiaoDich" class="form-control " readonly />
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-3">
                            <label asp-for="TourDto.HanXuatVe" class="control-label"></label>
                            <input type="text" asp-for="TourDto.HanXuatVe" class="form-control maskInput" readonly />
                        </div>

                        <div class="col-md-3">
                            <label asp-for="TourDto.NgayThanhLyHD" class="control-label"></label>
                            <input type="text" asp-for="TourDto.NgayThanhLyHD" class="form-control maskInput" readonly />
                        </div>

                        <div class="col-md-3">
                            <label asp-for="TourDto.NgayNhanDuTien" class="control-label"></label>
                            <input type="text" asp-for="TourDto.NgayNhanDuTien" class="form-control maskInput" readonly />
                        </div>

                        <div class="col-md-3">
                            <label asp-for="TourDto.LyDoNhanDu" class="control-label"></label>
                            <input asp-for="TourDto.LyDoNhanDu" class="form-control" readonly />
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-6">
                            <label asp-for="TourDto.LaiChuaVe" class="control-label"></label>
                            <input type="text" asp-for="TourDto.LaiChuaVe" class="form-control numbers" asp-format="{0:0,0}" readonly />
                        </div>

                        <div class="col-md-6">
                            <label asp-for="TourDto.LaiGomVe" class="control-label"></label>
                            <input type="text" asp-for="TourDto.LaiGomVe" class="form-control numbers" asp-format="{0:0,0}" readonly />
                        </div>

                    </div>

                    <div class="form-group">
                        <a asp-action="Edit" asp-route-id="@Model.Tour.Id" asp-route-strUrl="@Model.StrUrl" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-success" asp-controller="KhachHangs" asp-route-strUrl="@Model.StrUrl" asp-action="DetailsRedirect"><i class="fas fa-backward"></i></a>
                    </div>
                </div>
            </form>



        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

@section Scripts{

}
