@model TourViewModel

@using X.PagedList;
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common

@using Microsoft.AspNetCore.Http
@using Data.Utilities
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Tours";
    var url = Model.StrUrl;

    var user = HttpContextAccessor.HttpContext.Session.Gets<User>("loginUser").SingleOrDefault();
}

<!-- huy tour modal-->
<div class="modal fade" id="huyTourModal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">

        <div class="modal-content ">
            <div class="modal-header">
                <h4 class="modal-title">Thông tin hủy tour</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body huyTourPartial">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- huy tour modal-->
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        @*<div class="row mb-2">
               <div class="col-sm-6">
                        <a class="btn btn-outline-info" asp-action="Create" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-plus"></i>&nbsp; Thêm Mới</a>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Danh sách tour</li>
                        </ol>
                    </div>
            </div>*@
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách tour</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            <form method="get" autocomplete="off">

                <div class="container" style="padding-bottom:10px; background-color: aliceblue;" id="search">
                    @* we will add search criteria *@

                    <div class="col-md-12">
                        <div class="row" style="padding-top: 10px;">

                            <div class="col-md-3">
                                Nhập thông tin
                                @*@Html.Editor("searchName", new { htmlAttributes = new { @class = "form-control", @value="@ViewData["currentFilter"]" } })*@
                                <input class="form-control" name="searchString" value="@ViewBag.searchString" />
                            </div>

                            <div class="col-md-3">
                                Từ ngày
                                <input class="form-control maskInput" name="searchFromDate" value="@ViewBag.searchFromDate" />
                            </div>

                            <div class="col-md-3">
                                Đến ngày
                                <input class="form-control maskInput" name="searchToDate" value="@ViewBag.searchToDate" />
                            </div>

                            <!-- click row and submit to index -->
                            <input type="hidden" name="id" id="hidId" />
                            <input type="hidden" name="page" id="hidPage" />

                            @*<input type="hidden" name="invoiceId" id="hidInvoiceId" />*@

                            <div class="col-md-3">
                                <br />
                                <div class="btn-group btn-block">
                                    <button type="submit" class="btn btn-primary " id="btnSubmit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <a class="btn btn-outline-info" asp-action="Create" asp-route-strUrl="@Model.StrUrl" title="Thêm mới"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <br />
            <div style="overflow-x:auto; overflow-y:auto; height: 300px">
                <table class="table mytable text-nowrap tblTour" id="tourTbl">
                    <thead>
                        <tr class="table-info">
                            @if (user.Role.RoleName != "KeToans")
                            {
                                <th>#</th>
                            }

                            <th>@Html.DisplayNameFor(m => m.TourDtos.FirstOrDefault().Sgtcode)</th>
                            <th>@Html.DisplayNameFor(m => m.TourDtos.FirstOrDefault().SoHopDong)</th>
                            <th>@Html.DisplayNameFor(m => m.TourDtos.FirstOrDefault().ChuDeTour)</th>
                            <th>@Html.DisplayNameFor(m => m.TourDtos.FirstOrDefault().TuyenTQ)</th>
                            <th>@Html.DisplayNameFor(m => m.TourDtos.FirstOrDefault().NgayDen)</th>
                            <th>@Html.DisplayNameFor(m => m.TourDtos.FirstOrDefault().NgayDi)</th>
                            @*<th>@Html.DisplayNameFor(m => m.TourDtos.FirstOrDefault().HuyTour)</th>*@
                            <th>@Html.DisplayNameFor(m => m.TourDtos.FirstOrDefault().NguoiTao)</th>
                            <th>@Html.DisplayNameFor(m => m.TourDtos.FirstOrDefault().NgayTao)</th>
                            <th>@Html.DisplayNameFor(m => m.TourDtos.FirstOrDefault().TrangThai)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.TourDtos != null)
                        {
                            @foreach (var item in Model.TourDtos)
                            {
                                
                                <tr class="cursor-pointer " data-huy="@item.HuyTour" onclick="Tabs_KeToan_TourInfo()">
                                    @if (user.Role.RoleName != "KeToans")
                                    {
                                        <td>
                                            <div class="btn-group text-white" role="group">
                                                @*<a class="text-info" title="Invoice" asp-action="Index" asp-controller="Invoices" asp-route-tourId="@item.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-file-invoice"></i></a>
                                                    <span class="text-dark"> | </span>
                                                    <a class="text-success" title="Biên nhận" asp-action="Index" asp-controller="BienNhans" asp-route-tourId="@item.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-file-alt"></i></a>*@
                                                @*<span class="text-dark"> | </span>*@


                                                @if (item.HuyTour == true)
                                                {
                                                    <a class="disabled" title="Cập nhật"><i class="fas fa-edit"></i></a>
                                                    <span class="text-dark"> | </span>
                                                }
                                                else
                                                {
                                                    <a class="text-primary" title="Cập nhật" asp-action="Edit" asp-route-id="@item.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-edit"></i></a>
                                                    <span class="text-dark"> | </span>
                                                }

                                                <a class="text-success" title="Chi tiết" asp-action="Details" asp-route-id="@item.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-list"></i></a>
                                                <!-- ko cho xóa -->
                                                <span class="text-dark"> | </span>
                                                <span id="confirmDeleteSpan_@item.Id" style="display: none">
                                                    <!--ajax check invoices-->
                                                    <span class="text-dark invoiceTrue">Hủy?</span>
                                                    <button type="button" class="btn btn-danger btn-xs btnHuyTour" data-id="@item.Id" data-url="@Model.StrUrl">Yes</button>
                                                    <button type="button" class="btn btn-primary btn-xs" onclick="confirmDelete('@item.Id', false)">No</button>
                                                </span>

                                                <span id="deleteSpan_@item.Id">
                                                    @if (item.HuyTour == true)
                                                    {
                                                        <button type="button" data-id="@item.Id" title="Khôi phục" class="text-danger border-0 bg-transparent btnKhoiPhucTour"><i class="fas fa-undo-alt"></i></button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" data-id="@item.Id" data-invoices="@item.Invoices" class="text-danger border-0 bg-transparent btnHuy" title="Hủy" onclick="confirmDelete('@item.Id', true)"><i class="fas fa-trash-alt"></i></button>

                                                    }
                                                </span>

                                                <!-- hidden form khoiphuc-->
                                                <form asp-action="KhoiPhucTour" method="post" id="frmKhoiPhucTour">
                                                    <input type="hidden" id="hidTourId" name="id" />
                                                    <input type="hidden" id="hidStrUrl" name="strUrl" value="@Model.StrUrl" />
                                                </form>

                                            </div>
                                        </td>
                                    }
                                    @switch (item.TrangThai)
                                    {

                                        case "0":
                                            <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.Sgtcode)</td>
                                            break;
                                        case "1":
                                            <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.Sgtcode)</td>
                                            break;
                                        case "2":
                                            <td class="tdVal bg-yellow" data-id="@item.Id">@Html.DisplayFor(m => item.Sgtcode)</td>
                                            break;
                                        case "3":
                                            <td class="tdVal" style="background-color: chartreuse" data-id="@item.Id">@Html.DisplayFor(m => item.Sgtcode)</td>
                                            break;
                                        case "4":
                                            <td class="tdVal bg-red" data-id="@item.Id">@Html.DisplayFor(m => item.Sgtcode)</td>
                                            break;
                                    }

                                    <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.SoHopDong)</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.ChuDeTour)</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.TuyenTQ)</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.Raw(item.NgayDen.ToString("dd/MM/yyyy"))</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.Raw(item.NgayDi.ToString("dd/MM/yyyy"))</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.NguoiTao)</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.Raw(item.NgayTao.ToString("dd/MM/yyyy"))</td>
                                    <td class="tdVal" data-id="@item.Id">
                                        @switch (item.TrangThai)
                                        {

                                            case "0":
                                                <span>Mới tạo</span>
                                                break;
                                            case "1":
                                                <span>Mới đàm phán</span>
                                                break;
                                            case "2":
                                                <span>Đã ký hợp đồng</span>
                                                break;
                                            case "3":
                                                <span> Đã thanh lý hợp đồng</span>
                                                break;
                                            case "4":
                                                <span>Giao dịch chưa thành công</span>
                                                break;
                                        }
                                    </td>
                                </tr>

                                @* } *@

                            }
                        }
                    </tbody>
                </table>
                <!--hiden field for status click-->
                <input type="hidden" id="hidTdValId" value="@Model.Tour.Id" />
                <!--hiden field for status click-->
            </div>

            @if (Model.TourDtos != null)
            {
                @Html.PagedListPager((IPagedList)Model.TourDtos, page => Url.Action("Index", new
                {
                    page = page,
                    option = Context.Request.Query["option"],
                    searchString = @ViewBag.searchString
                }),
                    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
                    {
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string[] { "page-link" },
                        MaximumPageNumbersToDisplay = 5,
                        UlElementClasses = new[] { "pagination" },
                        ContainerDivClasses = new[] { "pagination-container" }
                    }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "nameListContainer" }))
            }
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
<!-- Tabs qltour info-->
<div id="tabs_KeToan_TourInfo" class="ml-2 mr-2">
</div>
<!-- Tabs qltour info-->
@if (user.Role.RoleName != "Users")
{

    <!--Tao moi invoice-->
    <div id="createInvoicePartial" class="ml-2 mr-2">
    </div>
    <!--Tao moi invoice-->
    <!--cap nhat invoice-->
    <div id="editInvoicePartial" class="ml-2 mr-2">
    </div>
    <!--cap nhat invoice-->
    <!--create CT invoice-->
    <div id="createCTInvoicePartial" class="ml-2 mr-2">
    </div>
    <!--create CT invoice-->

}

@section Scripts{

    <script src="~/js/Admin/Tours/indexController.js"></script>
    <script>
        function confirmDelete(uniqueId, isDeleteClicked) {
            var deleteSpan = 'deleteSpan_' + uniqueId;
            var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

            if (isDeleteClicked) {
                $('#' + deleteSpan).hide();
                $('#' + confirmDeleteSpan).show();
            } else {
                $('#' + deleteSpan).show();
                $('#' + confirmDeleteSpan).hide();
            }
        }
        function confirmInvoiceDelete(uniqueId, isDeleteClicked) {
            var deleteSpan = 'deleteInvoiceSpan_' + uniqueId;
            var confirmDeleteSpan = 'confirmInvoiceDeleteSpan_' + uniqueId;

            if (isDeleteClicked) {
                $('#' + deleteSpan).hide();
                $('#' + confirmDeleteSpan).show();
            } else {
                $('#' + deleteSpan).show();
                $('#' + confirmDeleteSpan).hide();
            }
        }
        // tour row click --> for tour index
        //function tourRowClick(tourId) {

        //    id = tourId;
        //    $('#hidId').val(id);
        //    //var page = $('.active .page-link').text();
        //    var page = $('.active span').text();
        //    $('#hidPage').val(page);

        //    //$.ajax({
        //    //    url: '/CapThes/Index',
        //    //    data: {
        //    //        maCT: id
        //    //    },
        //    //    dataType: 'json',
        //    //    type: 'GET',
        //    //    success: function (response) {

        //    //    }
        //    //});

        //    $('#btnSubmit').click();
        //};

        // tour row click --> for tour index

        // rollback tab
        $('#myTabs a[href="#@Model.tabActive"]').tab('show') // Select tab by name

        function Tabs_KeToan_TourInfo() { // tab href
            location.href = "#tabs_KeToan_TourInfo";
    }
    </script>

    <style>
        /*#listTour {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }*/

        #search {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        /*.tblTour .cursor-pointer:hover {
            background-color: #3E5C9A;
            cursor: pointer;
        }*/

        /*.invoice-cursor-pointer:hover {
            background-color: #3E5C9A;
            color: red;
            cursor: pointer;
        }*/

        /*.hoverClass {
            background-color: #3C8DBC;
            color: white;
        }*/
    </style>
}