
@model TourViewModel

@using X.PagedList;
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common


@{
    ViewData["Title"] = "Tours";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <a class="btn btn-outline-info" asp-action="Create" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-plus"></i>&nbsp; Thêm Mới</a>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Danh sách tour</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách tour</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            <form method="get" autocomplete="off">

                <div class="container" style="padding-bottom:10px; background-color: aliceblue;" id="search">
                    @* we will add search criteria *@

                    <div class="col-md-12">
                        <div class="row" style="padding-top: 10px;">

                            <div class="col-md-2">
                                Nhập thông tin
                            </div>
                            <div class="col-md-3">
                                @*@Html.Editor("searchName", new { htmlAttributes = new { @class = "form-control", @value="@ViewData["currentFilter"]" } })*@
                                <input class="form-control" name="searchString" value="@ViewBag.searchString" />
                            </div>

                            <!-- click row and submit to index -->
                            @*<input type="hidden" name="id" id="hidId" />
                                <input type="hidden" name="page" id="hidPage" />*@

                            <div class="col-md-2 btn-group">
                                <button type="submit" class="btn btn-primary form-control" id="btnSubmit">
                                    <i class="fas fa-search"></i>
                                </button>
                                <a class="btn btn-outline-info" asp-action="Create" asp-route-strUrl="@Model.StrUrl" title="Thêm mới"><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <br />
            <div style="overflow-x:auto; overflow-y:auto; height: 300px">
                <table class="table mytable text-nowrap tblTour" id="listAll">
                    <thead>
                        <tr class="table-info">
                            <th>#</th>
                            <th>@Html.DisplayNameFor(m => m.TourDtos.FirstOrDefault().Sgtcode)</th>
                            <th>@Html.DisplayNameFor(m => m.TourDtos.FirstOrDefault().SoHopDong)</th>
                            <th>@Html.DisplayNameFor(m => m.TourDtos.FirstOrDefault().ChuDeTour)</th>
                            <th>@Html.DisplayNameFor(m => m.TourDtos.FirstOrDefault().TuyenTQ)</th>
                            <th>@Html.DisplayNameFor(m => m.TourDtos.FirstOrDefault().NgayDen)</th>
                            <th>@Html.DisplayNameFor(m => m.TourDtos.FirstOrDefault().NgayDi)</th>
                            <th>@Html.DisplayNameFor(m => m.TourDtos.FirstOrDefault().TrangThai)</th>
                            <th>@Html.DisplayNameFor(m => m.TourDtos.FirstOrDefault().NguoiTao)</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.TourDtos != null)
                        {
                            @foreach (var item in Model.TourDtos)
                            {

                                <tr class="cursor-pointer ">

                                    <td>
                                        <div class="btn-group text-white" role="group">
                                            <a class="btn btn-primary btn-sm" title="Cập nhật" asp-action="Edit" asp-route-id="@item.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-edit"></i></a>
                                            <a class="btn btn-success btn-sm" title="Chi tiết" asp-action="Details" asp-route-id="@item.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-list"></i></a>
                                            <!-- ko cho xóa -->
                                            <form asp-action="Delete" asp-route-id="@item.Id" asp-route-strUrl="@Model.StrUrl" method="post">

                                                <span id="confirmDeleteSpan_@item.Id" style="display: none">
                                                    <span class="text-light">Xóa?</span>
                                                    <button type="submit" class="btn btn-danger">Yes</button>
                                                    <a href="#" class="btn btn-primary" onclick="confirmDelete('@item.Id', false)">No</a>
                                                </span>

                                                <span id="deleteSpan_@item.Id">
                                                    <a href="#" class="btn btn-danger btn-sm" onclick="confirmDelete('@item.Id', true)"><i class="fas fa-trash-alt"></i></a>
                                                </span>
                                            </form>
                                        </div>
                                    </td>

                                    <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.Sgtcode)</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.SoHopDong)</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.ChuDeTour)</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.TuyenTQ)</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.NgayDen)</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.NgayDi)</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.TrangThai)</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.NguoiTao)</td>
                                </tr>

                            }
                        }

                    </tbody>

                </table>
            </div>

            @if (Model.TourDtos != null)
            {
                @Html.PagedListPager((IPagedList)Model.TourDtos, page => Url.Action("Index", new
           {
               page = page,
               option = Context.Request.Query["option"],
               searchString = @ViewBag.searchString
           }),
                    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
                    {
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string[] { "page-link" },
                        MaximumPageNumbersToDisplay = 5,
                        UlElementClasses = new[] { "pagination" },
                        ContainerDivClasses = new[] { "pagination-container" }
                    }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "nameListContainer" }))
            }

        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
<!-- Tabs -->

@if (Model.Invoices != null)
{

    <div class="row">
        <div class="col-md-12 ">
            <div class="card card-primary card-outline card-outline-tabs">
                <div class="card-header p-0 border-bottom-0">
                    <ul class="nav nav-tabs" @*id="custom-tabs-four-tab"*@ id="myTabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-invoice" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">Invoice</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-CTVAT" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">Chi tiết invoice</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-four-messages-tab" data-toggle="pill" href="#custom-tabs-four-CTVAT2" role="tab" aria-controls="custom-tabs-four-messages" aria-selected="false">Chi tiết VAT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-four-settings-tab" data-toggle="pill" href="#custom-tabs-four-biennhan" role="tab" aria-controls="custom-tabs-four-settings" aria-selected="false">Biên nhận</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-four-settings-tab" data-toggle="pill" href="#custom-tabs-four-settings" role="tab" aria-controls="custom-tabs-four-settings" aria-selected="false">Settings</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="custom-tabs-four-tabContent">
                        <!-- Invoice -->
                        <div class="tab-pane fade active show" id="custom-tabs-four-invoice" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">


                            <section class="content">

                                <!-- Default box -->
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">invoice - <b>@Model.TourIBDto.SGTCode</b></h3>

                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                                <i class="fas fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group ">
                                            <a asp-action="Create" asp-controller="Invoices" asp-route-tourIBId="@Model.TourIBDto.Id" asp-route-strUrl="@Model.StrUrl" class="btn btn-default text-bold" title="Thêm 1 invoice vào đoàn">Add</a>
                                            <button type="button" class="btn btn-default text-bold" title="Cấp số invoice cho invoice hiện hành">Number</button>
                                            <button type="button" class="btn btn-default text-bold" title="In invoice hiện hành">Print</button>
                                            <button type="button" class="btn btn-default text-bold" title="In các invoice theo thời gian lập invoice">P.Range</button>
                                            <button type="button" class="btn btn-default text-bold" title="Cấp số VAT">VAT number</button>
                                            <button type="button" class="btn btn-default text-bold" title="In hóa đơn VAT">Print VAT</button>
                                            <button type="button" class="btn btn-default text-bold" title="Hủy bill VAT">Cancel VAT</button>
                                            <button type="button" class="btn btn-default text-bold" title="Thông báo đoàn chưa lập invoice">No invoice</button>
                                            <button type="button" class="btn btn-default text-bold" title="Thông báo các đoàn chưa lập VAT">No VAT</button>
                                            <button type="button" class="btn btn-default text-bold" title="So sánh tiền của invoice và VAT">Compare</button>
                                        </div>
                                        <div style="overflow-x:auto;">
                                            <table class="table mytable text-nowrap tblEMD" id="listAll">
                                                <thead>
                                                    <tr class="table-info">
                                                        <th>#</th>
                                                        <th>@Html.DisplayNameFor(m => m.Invoices.FirstOrDefault().Id)</th>
                                                        <th>@Html.DisplayNameFor(m => m.Invoices.FirstOrDefault().Replace)</th>
                                                        <th>@Html.DisplayNameFor(m => m.Invoices.FirstOrDefault().Type)</th>
                                                        <th>@Html.DisplayNameFor(m => m.Invoices.FirstOrDefault().Date)</th>
                                                        <th>@Html.DisplayNameFor(m => m.Invoices.FirstOrDefault().Arr)</th>
                                                        <th>@Html.DisplayNameFor(m => m.Invoices.FirstOrDefault().Dep)</th>
                                                        <th>@Html.DisplayNameFor(m => m.Invoices.FirstOrDefault().Pax)</th>
                                                        <th>@Html.DisplayNameFor(m => m.Invoices.FirstOrDefault().Currency)</th>
                                                        <th>@Html.DisplayNameFor(m => m.Invoices.FirstOrDefault().Rate)</th>
                                                        <th>@Html.DisplayNameFor(m => m.Invoices.FirstOrDefault().SGL)</th>
                                                        <th>@Html.DisplayNameFor(m => m.Invoices.FirstOrDefault().DBL)</th>
                                                        <th>@Html.DisplayNameFor(m => m.Invoices.FirstOrDefault().TPL)</th>
                                                        <th>@Html.DisplayNameFor(m => m.Invoices.FirstOrDefault().MOFP)</th>
                                                        <th>@Html.DisplayNameFor(m => m.Invoices.FirstOrDefault().DOFP)</th>
                                                        <th>@Html.DisplayNameFor(m => m.Invoices.FirstOrDefault().Ref)</th>
                                                        <th>@Html.DisplayNameFor(m => m.Invoices.FirstOrDefault().HopDong)</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.Invoices)
                                                    {

                                                        <tr class="cursor-pointer ">

                                                            <td>
                                                                <div class="btn-group text-white" role="group">
                                                                    <a class="btn btn-primary btn-sm" title="Cập nhật" asp-action="Edit" asp-controller="Invoices" asp-route-id="@item.Id" asp-route-tourIBId="@Model.TourIBDto.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-edit"></i></a>
                                                                    <a class="btn btn-success btn-sm" title="Chi tiết" asp-action="Details" asp-controller="Invoices" asp-route-id="@item.Id" asp-route-tourIBId="@Model.TourIBDto.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-list"></i></a>
                                                                    <form asp-action="Delete" asp-controller="Invoices" asp-route-id="@item.Id" asp-route-strUrl="@Model.StrUrl" method="post">

                                                                        <span id="confirmInvoiceDeleteSpan_@item.Id" style="display: none">
                                                                            <span class="text-light">Xóa?</span>
                                                                            <button type="submit" class="btn btn-danger">Yes</button>
                                                                            <a href="#" class="btn btn-primary" onclick="confirmInvoiceDelete('@item.Id', false)">No</a>
                                                                        </span>

                                                                        <span id="deleteInvoiceSpan_@item.Id">
                                                                            <a href="#" class="btn btn-danger btn-sm" onclick="confirmInvoiceDelete('@item.Id', true)"><i class="fas fa-trash-alt"></i></a>
                                                                        </span>
                                                                    </form>
                                                                </div>
                                                            </td>

                                                            <td class="tdValInvoice" data-id="@item.Id" data-touribid="@Model.TourIBDto.Id">@Html.DisplayFor(m => item.Id)</td>
                                                            <td class="tdValInvoice" data-id="@item.Id" data-touribid="@Model.TourIBDto.Id">@Html.DisplayFor(m => item.Replace)</td>
                                                            <td class="tdValInvoice" data-id="@item.Id" data-touribid="@Model.TourIBDto.Id">@Html.DisplayFor(m => item.Type)</td>
                                                            <td class="tdValInvoice" data-id="@item.Id" data-touribid="@Model.TourIBDto.Id">@Html.Raw(item.Date.ToShortDateString())</td>
                                                            <td class="tdValInvoice" data-id="@item.Id" data-touribid="@Model.TourIBDto.Id">@Html.Raw(item.Arr.ToShortDateString())</td>
                                                            <td class="tdValInvoice" data-id="@item.Id" data-touribid="@Model.TourIBDto.Id">
                                                                @if (item.Dep.HasValue)
                                                                {
                                                                    @Html.Raw(item.Dep.Value.ToShortDateString())
                                                                }
                                                            </td>
                                                            <td class="tdValInvoice" data-id="@item.Id" data-touribid="@Model.TourIBDto.Id">@Html.DisplayFor(m => item.Pax)</td>
                                                            <td class="tdValInvoice" data-id="@item.Id" data-touribid="@Model.TourIBDto.Id">@Html.DisplayFor(m => item.Currency)</td>
                                                            <td class="tdValInvoice" data-id="@item.Id" data-touribid="@Model.TourIBDto.Id">@Html.DisplayFor(m => item.Rate)</td>
                                                            <td class="tdValInvoice" data-id="@item.Id" data-touribid="@Model.TourIBDto.Id">@Html.DisplayFor(m => item.SGL)</td>
                                                            <td class="tdValInvoice" data-id="@item.Id" data-touribid="@Model.TourIBDto.Id">@Html.DisplayFor(m => item.DBL)</td>
                                                            <td class="tdValInvoice" data-id="@item.Id" data-touribid="@Model.TourIBDto.Id">@Html.DisplayFor(m => item.TPL)</td>
                                                            <td class="tdValInvoice" data-id="@item.Id" data-touribid="@Model.TourIBDto.Id">@Html.DisplayFor(m => item.MOFP)</td>
                                                            <td class="tdValInvoice" data-id="@item.Id" data-touribid="@Model.TourIBDto.Id">@Html.DisplayFor(m => item.DOFP)</td>
                                                            <td class="tdValInvoice" data-id="@item.Id" data-touribid="@Model.TourIBDto.Id">@Html.DisplayFor(m => item.Ref)</td>
                                                            <td class="tdValInvoice" data-id="@item.Id" data-touribid="@Model.TourIBDto.Id">@Html.DisplayFor(m => item.HopDong)</td>
                                                        </tr>

                                                    }
                                                </tbody>

                                            </table>
                                        </div>

                                    </div>
                                    <!-- /.card-body -->

                                </div>
                                <!-- /.card -->

                            </section>
                            <!-- /Invoice -->

                        </div>
                        <!-- Invoice -->
                        <!-- CTVAT -->
                        <div class="tab-pane fade" id="custom-tabs-four-CTVAT" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                            @if (Model.CTVATs != null)
                            {
                                <section class="content">

                                    <!-- Default box -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title ">Invoice No.<b>@Model.Invoice.Id</b></h3>

                                            <div class="card-tools">

                                                <a asp-action="Create" asp-controller="CTVATs" asp-route-invoiceId="@Model.Invoice.Id" asp-route-strUrl="@Model.StrUrl" asp-route-tabActive="custom-tabs-four-CTVAT" class="btn btn-default btn-sm text-bold" title="Thêm 1 chi tiết của invoice hiện hành">Add</a>
                                                <button type="button" class="btn btn-default btn-sm text-bold" title="Chèn thêm trước 1 chi tiết của invoice hiện hành" disabled>Insert</button>

                                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div style="overflow-x:auto;">
                                                <table class="table mytable text-nowrap tblEMD" id="listAll">
                                                    <thead>
                                                        <tr class="table-info">
                                                            <th>#</th>
                                                            <th>@Html.DisplayNameFor(m => m.CTVATs.FirstOrDefault().Descript)</th>
                                                            <th>@Html.DisplayNameFor(m => m.CTVATs.FirstOrDefault().Quantity)</th>
                                                            <th>@Html.DisplayNameFor(m => m.CTVATs.FirstOrDefault().Unit)</th>
                                                            <th>@Html.DisplayNameFor(m => m.CTVATs.FirstOrDefault().UnitPrice)</th>
                                                            <th>@Html.DisplayNameFor(m => m.CTVATs.FirstOrDefault().Percent)</th>
                                                            <th>@Html.DisplayNameFor(m => m.CTVATs.FirstOrDefault().Amount)</th>
                                                            <th>@Html.DisplayNameFor(m => m.CTVATs.FirstOrDefault().ServiceFee)</th>
                                                            <th>@Html.DisplayNameFor(m => m.CTVATs.FirstOrDefault().VAT)</th>
                                                            <th>Mục</th>
                                                            <th>Tên khoãng mục</th>
                                                            <th>DS</th>
                                                            <th>DLHH</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.CTVATs)
                                                        {

                                                            <tr class="cursor-pointer ">

                                                                <td>
                                                                    <div class="btn-group text-white" role="group">
                                                                        <a class="btn btn-primary btn-sm" title="Cập nhật" asp-action="Edit" asp-controller="CTVATs" asp-route-id="@item.Id" asp-route-invoiceId="@Model.Invoice.Id" asp-route-strUrl="@Model.StrUrl" asp-route-tabActive="custom-tabs-four-CTVAT"><i class="fas fa-edit"></i></a>
                                                                        <a class="btn btn-success btn-sm" title="Chi tiết" asp-action="Details" asp-controller="CTVATs" asp-route-id="@item.Id" asp-route-invoiceId="@Model.Invoice.Id" asp-route-strUrl="@Model.StrUrl" asp-route-tabActive="custom-tabs-four-CTVAT"><i class="fas fa-list"></i></a>
                                                                        <form asp-action="Delete" asp-controller="CTVATs" asp-route-id="@item.Id" asp-route-strUrl="@Model.StrUrl" asp-route-tabActive="custom-tabs-four-CTVAT" method="post">

                                                                            <span id="confirmCTVATDeleteSpan_@item.Id" style="display: none">
                                                                                <span class="text-light">Xóa?</span>
                                                                                <button type="submit" class="btn btn-danger">Yes</button>
                                                                                <a href="#" class="btn btn-primary" onclick="confirmCTVATDelete('@item.Id', false)">No</a>
                                                                            </span>

                                                                            <span id="deleteCTVATSpan_@item.Id">
                                                                                <a href="#" class="btn btn-danger btn-sm" onclick="confirmCTVATDelete('@item.Id', true)"><i class="fas fa-trash-alt"></i></a>
                                                                            </span>
                                                                        </form>
                                                                    </div>
                                                                </td>

                                                                <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.Descript)</td>
                                                                <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.Quantity)</td>
                                                                <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.Unit)</td>
                                                                <td class="tdVal" data-id="@item.Id">@Html.Raw(item.UnitPrice.ToString("N0"))</td>
                                                                <td class="tdVal" data-id="@item.Id">@Html.Raw(item.Percent.ToString("N0"))</td>
                                                                <td class="tdVal" data-id="@item.Id">@Html.Raw(item.Amount.ToString("N0"))</td>
                                                                <td class="tdVal" data-id="@item.Id">@Html.Raw(item.ServiceFee.ToString("N0"))</td>
                                                                <td class="tdVal" data-id="@item.Id">@Html.Raw(item.VAT.ToString("N0"))</td>
                                                                <td class="tdVal" data-id="@item.Id"></td>
                                                                <td class="tdVal" data-id="@item.Id"></td>
                                                                <td class="tdVal" data-id="@item.Id"></td>
                                                                <td class="tdVal" data-id="@item.Id"></td>
                                                            </tr>

                                                        }
                                                    </tbody>

                                                </table>
                                            </div>

                                        </div>
                                        <!-- /.card-body -->

                                    </div>
                                    <!-- /.card -->

                                </section>
                            }
                            else
                            {
                                <span><strong>Bạn chưa chọn invoice nào or invoice chưa có chi tiết</strong></span>
                            }

                        </div>
                        <!-- CTVAT -->


                        <div class="tab-pane fade" id="custom-tabs-four-CTVAT2" role="tabpanel" aria-labelledby="custom-tabs-four-messages-tab">
                            Morbi turpis dolor, vulputate vitae felis non, tincidunt congue mauris. Phasellus volutpat augue id mi placerat mollis. Vivamus faucibus eu massa eget condimentum. Fusce nec hendrerit sem, ac tristique nulla. Integer vestibulum orci odio. Cras nec augue ipsum. Suspendisse ut velit condimentum, mattis urna a, malesuada nunc. Curabitur eleifend facilisis velit finibus tristique. Nam vulputate, eros non luctus efficitur, ipsum odio volutpat massa, sit amet sollicitudin est libero sed ipsum. Nulla lacinia, ex vitae gravida fermentum, lectus ipsum gravida arcu, id fermentum metus arcu vel metus. Curabitur eget sem eu risus tincidunt eleifend ac ornare magna.
                        </div>

                        <!-- Bien Nhan -->
                        <div class="tab-pane fade" id="custom-tabs-four-biennhan" role="tabpanel" aria-labelledby="custom-tabs-four-settings-tab">
                            @if (Model.BienNhans != null)
                            {
                                <section class="content">

                                    <!-- Default box -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title ">Danh sách biên nhận - <b>@Model.TourIBDto.Id</b></h3>

                                            <div class="card-tools">

                                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div style="overflow-x:auto;">
                                                <table class="table mytable text-nowrap tblEMD" id="listAll">
                                                    <thead>
                                                        <tr class="table-info">
                                                            <th>
                                                                <div class="btn-group">
                                                                    <a asp-action="Create" asp-controller="BienNhans" asp-route-tourIBId="@Model.TourIBDto.Id" asp-route-strUrl="@Model.StrUrl" asp-route-tabActive="custom-tabs-four-biennhan" class="btn btn-default btn-sm text-bold" title="Thêm 1 biên nhận">New</a>
                                                                    <button type="button" class="btn btn-default btn-sm text-bold" data-toggle="modal" data-target="#modal-default">Find</button>
                                                                    <!-- Bien Nhan Find-->
                                                                    <div class="modal fade" id="modal-default" style="display: none;" aria-hidden="true">
                                                                        <div class="modal-dialog">
                                                                            <form asp-action="ChiTietBNFind" asp-controller="ChiTietBNs" asp-route-strUrl="@Model.StrUrl" asp-route-tabActive="custom-tabs-four-biennhan" method="get">
                                                                                <div class="modal-content">
                                                                                    <div class="modal-header">
                                                                                        <h4 class="modal-title">Default Modal</h4>
                                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                            <span aria-hidden="true">×</span>
                                                                                        </button>
                                                                                    </div>
                                                                                    <div class="modal-body">
                                                                                        <div class="form-group">
                                                                                            <input name="chiTietBNSearchString" class="form-control" />
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="modal-footer justify-content-between">
                                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i></button>
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                            <!-- /.modal-content -->
                                                                        </div>
                                                                        <!-- /.modal-dialog -->
                                                                    </div>
                                                                    <!-- Bien Nhan Find-->
                                                                </div>
                                                            </th>
                                                            <th>@Html.DisplayNameFor(m => m.BienNhans.FirstOrDefault().Id)</th> <!-- so bien nhan-->
                                                            <th>@Html.DisplayNameFor(m => m.BienNhans.FirstOrDefault().NgayBN)</th>
                                                            <th>@Html.DisplayNameFor(m => m.BienNhans.FirstOrDefault().TenKhach)</th>
                                                            <th>@Html.DisplayNameFor(m => m.BienNhans.FirstOrDefault().SK)</th>
                                                            <th>@Html.DisplayNameFor(m => m.BienNhans.FirstOrDefault().GhiChu)</th>
                                                            <th>@Html.DisplayNameFor(m => m.BienNhans.FirstOrDefault().LoaiTien)</th>
                                                            <th>@Html.DisplayNameFor(m => m.BienNhans.FirstOrDefault().TyGia)</th>
                                                            <th>@Html.DisplayNameFor(m => m.BienNhans.FirstOrDefault().KhachLe)</th>
                                                            <th>@Html.DisplayNameFor(m => m.BienNhans.FirstOrDefault().NoiDungHuy)</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.BienNhans)
                                                        {

                                                            <tr class="cursor-pointer ">

                                                                <td>
                                                                    <div class="btn-group text-white" role="group">
                                                                        <a class="btn btn-primary btn-sm" title="Cập nhật" asp-action="Edit" asp-controller="BienNhans" asp-route-id="@item.Id" asp-route-tourIBId="@Model.TourIBDto.Id" asp-route-strUrl="@Model.StrUrl" asp-route-tabActive="custom-tabs-four-biennhan"><i class="fas fa-edit"></i></a>
                                                                        <a class="btn btn-success btn-sm" title="Chi tiết" asp-action="Details" asp-controller="BienNhans" asp-route-id="@item.Id" asp-route-invoiceId="@Model.TourIBDto.Id" asp-route-strUrl="@Model.StrUrl" asp-route-tabActive="custom-tabs-four-biennhan"><i class="fas fa-list"></i></a>
                                                                        <form asp-action="Delete" asp-controller="CTVATs" asp-route-id="@item.Id" asp-route-strUrl="@Model.StrUrl" asp-route-tabActive="custom-tabs-four-CTVAT" method="post">

                                                                            <span id="confirmBienNhanDeleteSpan_@item.Id" style="display: none">
                                                                                <span class="text-light">Xóa?</span>
                                                                                <button type="submit" class="btn btn-danger">Yes</button>
                                                                                <a href="#" class="btn btn-primary" onclick="confirmBienNhanDelete('@item.Id', false)">No</a>
                                                                            </span>

                                                                            <span id="deleteBienNhanSpan_@item.Id">
                                                                                <a href="#" class="btn btn-danger btn-sm" onclick="confirmBienNhanDelete('@item.Id', true)"><i class="fas fa-trash-alt"></i></a>
                                                                            </span>
                                                                        </form>
                                                                    </div>
                                                                </td>

                                                                <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.Id)</td>
                                                                <td class="tdVal" data-id="@item.Id">@Html.Raw(item.NgayBN.ToShortDateString())</td>
                                                                <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.TenKhach)</td>
                                                                <td class="tdVal" data-id="@item.Id">@Html.Raw(item.SK.ToString("N0"))</td>
                                                                <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.GhiChu)</td>
                                                                <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.LoaiTien)</td>
                                                                <td class="tdVal" data-id="@item.Id">@Html.Raw(item.TyGia.ToString("N0"))</td>
                                                                <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.KhachLe)</td>
                                                                <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.NoiDungHuy) </td>
                                                            </tr>

                                                        }
                                                    </tbody>

                                                </table>
                                            </div>

                                        </div>
                                        <!-- /.card-body -->

                                    </div>
                                    <!-- /.card -->

                                </section>

                                <!-- chi tiet BN -->
                                <section class="content">

                                    <!-- Default box -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Danh sách Tour</h3>

                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div style="overflow-x:auto;" class="col-md-8">
                                                    <table class="table mytable text-nowrap tblEMD" id="listAll">
                                                        <thead>
                                                            <tr class="table-info">
                                                                <th>#</th>
                                                                <th>@Html.DisplayNameFor(m => m.ChiTietBNs.FirstOrDefault().Descript)</th>
                                                                <th>@Html.DisplayNameFor(m => m.ChiTietBNs.FirstOrDefault().Amount)</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.ChiTietBNs != null)
                                                            {
                                                                @foreach (var item in Model.ChiTietBNs)
                                                                {

                                                                    <tr class="cursor-pointer ">

                                                                        <td>
                                                                            <div class="btn-group text-white" role="group">
                                                                                <a class="btn btn-primary btn-sm" title="Cập nhật" asp-action="Edit" asp-route-id="@item.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-edit"></i></a>
                                                                                <a class="btn btn-success btn-sm" title="Chi tiết" asp-action="Details" asp-route-id="@item.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-list"></i></a>
                                                                                <form asp-action="Delete" asp-route-id="@item.Id" asp-route-strUrl="@Model.StrUrl" method="post">

                                                                                    <span id="confirmDeleteSpan_@item.Id" style="display: none">
                                                                                        <span class="text-light">Xóa?</span>
                                                                                        <button type="submit" class="btn btn-danger">Yes</button>
                                                                                        <a href="#" class="btn btn-primary" onclick="confirmDelete('@item.Id', false)">No</a>
                                                                                    </span>

                                                                                    <span id="deleteSpan_@item.Id">
                                                                                        <a href="#" class="btn btn-danger btn-sm" onclick="confirmDelete('@item.Id', true)"><i class="fas fa-trash-alt"></i></a>
                                                                                    </span>
                                                                                </form>
                                                                            </div>
                                                                        </td>

                                                                        <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.Id)</td>
                                                                        <td class="tdVal" data-id="@item.Id">@Html.Raw(item.Amount.ToString("N0"))</td>

                                                                    </tr>

                                                                }
                                                            }

                                                        </tbody>

                                                    </table>
                                                </div>
                                                <div class="col-md-4">

                                                    <button type="button" class="btn btn-default btn-block" title="Cấp số biên nhận">BN Number</button>
                                                    <button type="button" class="btn btn-default btn-block btn-flat" title="Thêm 1 chi tiết của biên nhận">Add row</button>
                                                    <button type="button" class="btn btn-default btn-block btn-sm" title="In hóa đơn biên nhận">Print</button>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->

                                    </div>
                                    <!-- /.card -->

                                </section>
                                <!-- chi tiet BN -->

                            }

                        </div>
                        <!-- Bien Nhan -->

                        <div class="tab-pane fade" id="custom-tabs-four-settings" role="tabpanel" aria-labelledby="custom-tabs-four-settings-tab">
                            Pellentesque vestibulum commodo nibh nec blandit. Maecenas neque magna, iaculis tempus turpis ac, ornare sodales tellus. Mauris eget blandit dolor. Quisque tincidunt venenatis vulputate. Morbi euismod molestie tristique. Vestibulum consectetur dolor a vestibulum pharetra. Donec interdum placerat urna nec pharetra. Etiam eget dapibus orci, eget aliquet urna. Nunc at consequat diam. Nunc et felis ut nisl commodo dignissim. In hac habitasse platea dictumst. Praesent imperdiet accumsan ex sit amet facilisis.
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
}


<!-- Tabs -->


@section Scripts{
    <script>

        $(function () {
            //$("#datepicker").datepicker({
            //    dateFormat: 'dd/mm/yy'
            //});

            $('#listAll').DataTable({
                "paging": false,
                "lengthChange": true,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });
    </script>
    @*<script src="~/js/Admin/NganhNghe/indexController.js"></script>*@

    <script>
        function confirmDelete(uniqueId, isDeleteClicked) {
            var deleteSpan = 'deleteSpan_' + uniqueId;
            var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

            if (isDeleteClicked) {
                $('#' + deleteSpan).hide();
                $('#' + confirmDeleteSpan).show();
            } else {
                $('#' + deleteSpan).show();
                $('#' + confirmDeleteSpan).hide();
            }
        }
    </script>


    <style>
        #listAll {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        #search {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .tblTour .cursor-pointer:hover {
            background-color: #3E5C9A;
            cursor: pointer;
        }

        .hoverClass {
            background-color: #3E5C9A;
        }
    </style>
}

