@model InvoiceViewModel
<!-- CTInvoice -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            @if (Model.Invoice.Id != null)
            {
            <h3 class="card-title">Danh sách chi tiết invoice - <b>@Model.Invoice.Id</b></h3>
            }
            else
            {
            <h3 class="card-title">Danh sách chi tiết invoice</h3>
            }

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            <div style="overflow-x:auto; overflow-y: auto;">
                <table class="table mytable text-nowrap tblEMD" id="cTInvoiceTbl">
                    <thead>
                        <tr class="table-info">
                            <th>

                                @if (Model.Invoice.HuyInvoice == true)
                                {
                                <a class="btn btn-default btn-sm text-bold disabled btn-block" title="Thêm CT invoice">New</a>

                                }
                                else
                                {
                                <a id="btnNewCTInvoice" data-id="@Model.Invoice.Id" asp-action="CreateCTInvoice" asp-controller="CTVATs" asp-route-invoiceId="@Model.Invoice.Id" asp-route-strUrl="@Model.StrUrl" class="btn btn-outline-info btn-sm text-bold btn-block" title="Thêm CT invoice"><i class="fas fa-plus"></i></a>
                                }
                            </th>
                            <th>@Html.DisplayNameFor(m => m.CTInvoices.FirstOrDefault().Descript)</th>
                            <th>@Html.DisplayNameFor(m => m.CTInvoices.FirstOrDefault().Quantity)</th>
                            <th>@Html.DisplayNameFor(m => m.CTInvoices.FirstOrDefault().Unit)</th>
                            <th>@Html.DisplayNameFor(m => m.CTInvoices.FirstOrDefault().UnitPrice)</th>
                            <th>@Html.DisplayNameFor(m => m.CTInvoices.FirstOrDefault().Percent)</th>
                            <th>@Html.DisplayNameFor(m => m.CTInvoices.FirstOrDefault().Amount)</th>
                            <th>@Html.DisplayNameFor(m => m.CTInvoices.FirstOrDefault().ServiceFee)</th>
                            <th>@Html.DisplayNameFor(m => m.CTInvoices.FirstOrDefault().VAT)</th>
                            <th>@Html.DisplayNameFor(m => m.CTInvoices.FirstOrDefault().Muc)</th>
                            <th>@Html.DisplayNameFor(m => m.CTInvoices.FirstOrDefault().TenKhoanMuc)</th>
                            <th>@Html.DisplayNameFor(m => m.CTInvoices.FirstOrDefault().DS)</th>
                            <th>@Html.DisplayNameFor(m => m.CTInvoices.FirstOrDefault().DLHH)</th>


                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.CTInvoices != null && Model.Invoice.HuyInvoice != true)
                        {
                        @foreach (var item in Model.CTInvoices)
                            {

                        <tr class="cursor-pointer ">

                            <td>
                                <div class="btn-group text-white" role="group">
                                    <a class="text-primary" title="Cập nhật" asp-action="EditCTInvoice" asp-controller="CTVATs" asp-route-invoiceId="@Model.Invoice.Id" asp-route-id="@item.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-edit"></i></a>
                                    <span class="text-dark"> | </span>
                                    <a class="text-success" title="Chi tiết" asp-action="DetailsCTInvoice" asp-controller="CTVATs" asp-route-invoiceId="@Model.Invoice.Id" asp-route-id="@item.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-list"></i></a>
                                    <span class="text-dark"> | </span>
                                    <form asp-action="DeleteCTInvoice" asp-controller="CTVATs" asp-route-id="@item.Id" asp-route-invoiceId="@Model.Invoice.Id" asp-route-strUrl="@Model.StrUrl" method="post">

                                        <span id="confirmDeleteSpan_@item.Id" style="display: none">
                                            <span class="text-dark">Xóa?</span>
                                            <button type="submit" class="btn btn-danger btn-xs">Yes</button>
                                            <button type="button" class="btn btn-primary btn-xs" onclick="confirmDelete('@item.Id', false)">No</button>
                                        </span>

                                        <span id="deleteSpan_@item.Id">
                                            <button type="button" class="text-danger border-0 bg-transparent" onclick="confirmDelete('@item.Id', true)"><i class="fas fa-trash-alt"></i></button>
                                        </span>
                                    </form>
                                </div>
                            </td>

                            <td>@Html.DisplayFor(m => item.Descript)</td>
                            <td>@Html.DisplayFor(m => item.Quantity)</td>
                            <td>@Html.DisplayFor(m => item.Unit)</td>
                            <td>@Html.Raw(item.UnitPrice.ToString("N0"))</td>
                            <td>@Html.Raw(item.Percent.ToString("N0"))</td>
                            <td>@Html.Raw(item.Amount.ToString("N0"))</td>
                            <td>@Html.Raw(item.ServiceFee.ToString("N0"))</td>
                            <td>@Html.Raw(item.VAT.ToString("N0"))</td>
                            <td>@Html.DisplayFor(m => item.Muc)</td>
                            <td>@Html.DisplayFor(m => item.TenKhoanMuc)</td>
                            <td>@Html.DisplayFor(m => item.DS)</td>
                            <td>@Html.DisplayFor(m => item.DLHH)</td>
                        </tr>

                            }

                        }
                        @if (Model.Invoice.HuyInvoice == true)
                        {
                        @foreach (var item in Model.CTInvoices)
                            {

                        <tr class="cursor-pointer bg-secondary">

                            <td>
                                <div class="btn-group text-white" role="group">
                                    <a class="disabled" title="Cập nhật"><i class="fas fa-edit"></i></a>
                                    <span class="text-dark"> | </span>
                                    <a class="text-success" title="Chi tiết" asp-action="DetailsCTInvoice" asp-controller="CTVATs" asp-route-invoiceId="@Model.Invoice.Id" asp-route-id="@item.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-list"></i></a>
                                    <span class="text-dark"> | </span>
                                    <form asp-action="DeleteCTInvoice" asp-controller="CTVATs" asp-route-id="@item.Id" asp-route-invoiceId="@Model.Invoice.Id" asp-route-strUrl="@Model.StrUrl" method="post">

                                        <span id="confirmDeleteSpan_@item.Id" style="display: none">
                                            <span class="text-dark">Xóa?</span>
                                            <button type="submit" class="btn btn-danger btn-xs">Yes</button>
                                            <button type="button" class="btn btn-primary btn-xs" onclick="confirmDelete('@item.Id', false)">No</button>
                                        </span>

                                        <span id="deleteSpan_@item.Id">
                                            <button type="button" disabled class="text-danger border-0 bg-transparent" onclick="confirmDelete('@item.Id', true)"><i class="fas fa-trash-alt"></i></button>
                                        </span>
                                    </form>
                                </div>
                            </td>

                            <td>@Html.DisplayFor(m => item.Descript)</td>
                            <td>@Html.DisplayFor(m => item.Quantity)</td>
                            <td>@Html.DisplayFor(m => item.Unit)</td>
                            <td>@Html.Raw(item.UnitPrice.ToString("N0"))</td>
                            <td>@Html.Raw(item.Percent.ToString("N0"))</td>
                            <td>@Html.Raw(item.Amount.ToString("N0"))</td>
                            <td>@Html.Raw(item.ServiceFee.ToString("N0"))</td>
                            <td>@Html.Raw(item.VAT.ToString("N0"))</td>
                            <td>@Html.DisplayFor(m => item.Muc)</td>
                            <td>@Html.DisplayFor(m => item.TenKhoanMuc)</td>
                            <td>@Html.DisplayFor(m => item.DS)</td>
                            <td>@Html.DisplayFor(m => item.DLHH)</td>
                        </tr>

                            }

                        }
                    </tbody>

                </table>
            </div>

        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /CTInvoice -->
<!-- CTVAT -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            @if (Model.Invoice.Id != null)
            {
            <h3 class="card-title">Danh sách chi tiết VAT - <b>@Model.Invoice.Id</b></h3>
            }
            else
            {
            <h3 class="card-title">Danh sách chi tiết VAT</h3>
            }

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            <div style="overflow-x:auto; overflow-y: auto;">
                <table class="table mytable text-nowrap tblEMD" id="cTVATTbl">
                    <thead>
                        <tr class="table-info">
                            <th>
                                @if (Model.Invoice.HuyInvoice == true)
                                {
                                @*<a class="btn btn-default btn-sm text-bold disabled" title="Thêm CT invoice">New</a>*@
                                <a class="btn btn-default btn-sm text-bold disabled" title="Copy CT invoice">Copy</a>
                                }
                                else
                                {

                                @*<a class="btn btn-default btn-sm text-bold " asp-action="CreateCTVAT" data-id="@Model.Invoice.Id" id="btnNewCTVAT" asp-controller="CTVATs" asp-route-invoiceId="@Model.Invoice.Id" asp-route-strUrl="@Model.StrUrl" title="Thêm CTVAT">New</a>*@
                                <button class="btn btn-default btn-sm text-bold " data-id="@Model.Invoice.Id" id="btnCopyCTVAT" title="Copy CTVAT">Copy</button>

                                <form id="frmCopyCTVAT" asp-action="CopyCTInvoice_DS_To_CTVAT" asp-controller="CTVATs" method="post" asp-route-invoiceId="@Model.Invoice.Id" asp-route-strUrl="@Model.StrUrl">
                                </form>

                                }

                            </th>
                            <th>@Html.DisplayNameFor(m => m.CTVATs.FirstOrDefault().Descript)</th>
                            <th>@Html.DisplayNameFor(m => m.CTVATs.FirstOrDefault().Quantity)</th>
                            <th>@Html.DisplayNameFor(m => m.CTVATs.FirstOrDefault().Unit)</th>
                            <th>@Html.DisplayNameFor(m => m.CTVATs.FirstOrDefault().UnitPrice)</th>
                            <th>@Html.DisplayNameFor(m => m.CTVATs.FirstOrDefault().Percent)</th>
                            <th>@Html.DisplayNameFor(m => m.CTVATs.FirstOrDefault().Amount)</th>
                            <th>@Html.DisplayNameFor(m => m.CTVATs.FirstOrDefault().ServiceFee)</th>
                            <th>@Html.DisplayNameFor(m => m.CTVATs.FirstOrDefault().VAT)</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.CTVATs != null && Model.Invoice.HuyInvoice != true)
                        {
                        @foreach (var item in Model.CTVATs)
                            {

                        <tr class="cursor-pointer ">

                            <td>
                                <div class="btn-group text-white" role="group">
                                    @*<a class="text-primary" title="Cập nhật" asp-action="EditCTVAT" asp-controller="CTVATs" asp-route-invoiceId="@Model.Invoice.Id" asp-route-id="@item.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-edit"></i></a>
                                        <span class="text-dark"> | </span>*@
                                    <a class="text-success" title="Chi tiết" asp-action="DetailsCTVAT" asp-controller="CTVATs" asp-route-invoiceId="@Model.Invoice.Id" asp-route-id="@item.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-list"></i></a>
                                    <span class="text-dark"> | </span>
                                    <form asp-action="DeleteCTVAT" asp-controller="CTVATs" asp-route-id="@item.Id" asp-route-invoiceId="@Model.Invoice.Id" asp-route-strUrl="@Model.StrUrl" method="post">

                                        <span id="confirmDeleteSpan_@item.Id" style="display: none">
                                            <span class="text-dark">Xóa?</span>
                                            <button type="submit" class="btn btn-danger btn-xs">Yes</button>
                                            <button type="button" class="btn btn-primary btn-xs" onclick="confirmDelete('@item.Id', false)">No</button>
                                        </span>

                                        <span id="deleteSpan_@item.Id">
                                            <button type="button" class="text-danger border-0 bg-transparent" onclick="confirmDelete('@item.Id', true)"><i class="fas fa-trash-alt"></i></button>
                                        </span>
                                    </form>
                                </div>
                            </td>

                            <td>@Html.DisplayFor(m => item.Descript)</td>
                            <td>@Html.DisplayFor(m => item.Quantity)</td>
                            <td>@Html.DisplayFor(m => item.Unit)</td>
                            <td>@Html.Raw(item.UnitPrice.ToString("N0"))</td>
                            <td>@Html.Raw(item.Percent.ToString("N0"))</td>
                            <td>@Html.Raw(item.Amount.ToString("N0"))</td>
                            <td>@Html.Raw(item.ServiceFee.ToString("N0"))</td>
                            <td>@Html.Raw(item.VAT.ToString("N0"))</td>

                        </tr>

                            }

                        }
                        @if (Model.Invoice.HuyInvoice == true)
                        {
                        @foreach (var item in Model.CTVATs)
                            {

                        <tr class="cursor-pointer bg-secondary">

                            <td>
                                <div class="btn-group text-white" role="group">
                                    @*<a class="disabled" title="Cập nhật"><i class="fas fa-edit"></i></a>*@
                                    @*<span class="text-dark"> | </span>*@
                                    <a class="text-success" title="Chi tiết" asp-action="DetailsCTVAT" asp-controller="CTVATs" asp-route-invoiceId="@Model.Invoice.Id" asp-route-id="@item.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-list"></i></a>
                                    <span class="text-dark"> | </span>
                                    <form asp-action="DeleteCTVAT" asp-controller="CTVATs" asp-route-id="@item.Id" asp-route-invoiceId="@Model.Invoice.Id" asp-route-strUrl="@Model.StrUrl" method="post">

                                        <span id="confirmDeleteSpan_@item.Id" style="display: none">
                                            <span class="text-dark">Xóa?</span>
                                            <button type="submit" class="btn btn-danger btn-xs">Yes</button>
                                            <button type="button" class="btn btn-primary btn-xs" onclick="confirmDelete('@item.Id', false)">No</button>
                                        </span>

                                        <span id="deleteSpan_@item.Id">
                                            <button type="button" disabled class="text-danger border-0 bg-transparent" onclick="confirmDelete('@item.Id', true)"><i class="fas fa-trash-alt"></i></button>
                                        </span>
                                    </form>
                                </div>
                            </td>

                            <td>@Html.DisplayFor(m => item.Descript)</td>
                            <td>@Html.DisplayFor(m => item.Quantity)</td>
                            <td>@Html.DisplayFor(m => item.Unit)</td>
                            <td>@Html.Raw(item.UnitPrice.ToString("N0"))</td>
                            <td>@Html.Raw(item.Percent.ToString("N0"))</td>
                            <td>@Html.Raw(item.Amount.ToString("N0"))</td>
                            <td>@Html.Raw(item.ServiceFee.ToString("N0"))</td>
                            <td>@Html.Raw(item.VAT.ToString("N0"))</td>

                        </tr>

                            }

                        }
                    </tbody>

                </table>
            </div>

        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /CTVAT -->

<script>

    $(function () {
        //$("#datepicker").datepicker({
        //    dateFormat: 'dd/mm/yy'
        //});

        //$('#listTour').DataTable({
        //    "paging": false,
        //    "lengthChange": true,
        //    "searching": false,
        //    "ordering": true,
        //    "info": true,
        //    "autoWidth": false,
        //});
    });
</script>
@*<script src="~/js/Admin/Tours/indexController.js"></script>*@
@*<script>
        function confirmDelete(uniqueId, isDeleteClicked) {
            var deleteSpan = 'deleteSpan_' + uniqueId;
            var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

            if (isDeleteClicked) {
                $('#' + deleteSpan).hide();
                $('#' + confirmDeleteSpan).show();
            } else {
                $('#' + deleteSpan).show();
                $('#' + confirmDeleteSpan).hide();
            }
        }
        function confirmInvoiceDelete(uniqueId, isDeleteClicked) {
            var deleteSpan = 'deleteInvoiceSpan_' + uniqueId;
            var confirmDeleteSpan = 'confirmInvoiceDeleteSpan_' + uniqueId;

            if (isDeleteClicked) {
                $('#' + deleteSpan).hide();
                $('#' + confirmDeleteSpan).show();
            } else {
                $('#' + deleteSpan).show();
                $('#' + confirmDeleteSpan).hide();
            }
        }
        // tour row click --> for tour index
        function tourRowClick(tourId) {

            id = tourId;
            $('#hidId').val(id);
            //var page = $('.active .page-link').text();
            var page = $('.active span').text();
            $('#hidPage').val(page);

            //$.ajax({
            //    url: '/CapThes/Index',
            //    data: {
            //        maCT: id
            //    },
            //    dataType: 'json',
            //    type: 'GET',
            //    success: function (response) {

            //    }
            //});

            $('#btnSubmit').click();
        };

        // tour row click --> for tour index

        // rollback tab
        $('#myTabs a[href="#@Model.tabActive"]').tab('show') // Select tab by name

        // giu trang thai

        var tourId = @Model.Tour.Id;
        if (tourId != 0) { // có click
            var tdClass = '.tdVal_' + tourId;
            if ($(tdClass).hasClass("hoverClass"))
                $(tdClass).removeClass("hoverClass");
            else {
                $(tdClass).removeClass("hoverClass");
                $(tdClass).addClass("hoverClass");
            }

        }

        // giu trang thai

    </script>*@


<style>
    /*#cTInvoiceTbl {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #search {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .tblTour .cursor-pointer:hover {
        background-color: #3E5C9A;
        cursor: pointer;
    }*/

    /*.hoverClass {
        background-color: #3E5C9A;
        color: white;
    }*/
</style>
