@model InvoiceViewModel
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-file text-info"></i> Cập nhật Invoice - <b>@Model.Tour.Sgtcode</b></h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">


            <form method="post" autocomplete="off" id="frmInvoiceEditPartial">
                <div class="p-4 border rounded">

                    <input asp-for="Invoice.Id" type="hidden" /> <!-- this field is required-->
                    <input asp-for="Invoice.TourId" type="hidden" /> <!-- this field is required-->
                    <input asp-for="Invoice.NgayVAT" type="hidden" /> <!--ngay tao-->
                    <input asp-for="Invoice.Date" type="hidden" /> <!--ngay tao-->
                    <input asp-for="Invoice.NguoiTao" type="hidden" />

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group row">

                        <div class="col-md-3">
                            <label asp-for="Invoice.Replace" class="control-label"></label>
                            <select asp-for="Invoice.Replace" class="form-control"
                                    asp-items="@(new SelectList(Model.Invoices, "Id", "Id"))">
                                <option value="">-- select --</option>
                            </select>
                            <span asp-validation-for="Invoice.Replace" class="text-danger"></span>
                        </div>

                        @*<div class="col-md-1">
                                <label asp-for="Invoice.Type" class="control-label"></label>
                                <select asp-for="Invoice.Type" class="form-control" id="ddlLoaiIV"
                                        asp-items="@(new SelectList(Model.LoaiIVs, "Id", "Id"))">
                                    <option value="">-- None --</option>
                                </select>
                                <span asp-validation-for="Invoice.Type" class="text-danger"></span>
                            </div>*@

                        <div class="col-md-3">
                            <label asp-for="Invoice.MaKH" class="control-label"></label>
                            <input asp-for="Invoice.MaKH" class="form-control " readonly />
                            <span asp-validation-for="Invoice.MaKH" class="text-danger"></span>
                        </div>

                        <div class="col-md-6">
                            <label asp-for="Invoice.TenKhach" class="control-label"></label>
                            <input asp-for="Invoice.TenKhach" class="form-control " id="txtTenKhach" />
                            <span asp-validation-for="Invoice.TenKhach" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-3">
                            <label asp-for="Invoice.Arr" class="control-label"></label>
                            <input type="text" asp-for="Invoice.Arr" class="form-control maskInput" />
                            <span asp-validation-for="Invoice.Arr" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="Invoice.Dep" class="control-label"></label>
                            <input type="text" asp-for="Invoice.Dep" class="form-control maskInput" />
                            <span asp-validation-for="Invoice.Dep" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <label asp-for="Invoice.Pax" class="control-label"></label>
                            <input type="text" asp-for="Invoice.Pax" class="form-control numbers" />
                            <span asp-validation-for="Invoice.Pax" class="text-danger"></span>
                        </div>

                        <div class="col-md-2 ">
                            <label asp-for="Invoice.Currency" class="control-label"></label>
                            <select asp-for="Invoice.Currency" class="form-control " id="ddlLoaiTien"
                                    asp-items="@(new SelectList(Model.Ngoaites, "MaNt", "TenNt"))">
                                <!-- ngoaite: qltour-->
                            </select>
                            <span asp-validation-for="Invoice.Currency" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <label asp-for="Invoice.Rate" class="control-label"></label>
                            <input asp-for="Invoice.Rate" class="form-control numbers" id="txtTyGia" />
                            <span asp-validation-for="Invoice.Rate" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-3">
                            <label asp-for="Invoice.MOFP" class="control-label"></label>
                            <input asp-for="Invoice.MOFP" class="form-control " />
                            <span asp-validation-for="Invoice.MOFP" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="Invoice.DOFP" class="control-label"></label>
                            <input type="text" value="" asp-for="Invoice.DOFP" class="form-control maskInput" />
                            <span asp-validation-for="Invoice.DOFP" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="Invoice.Ref" class="control-label"></label>
                            <input asp-for="Invoice.Ref" class="form-control " />
                            <span asp-validation-for="Invoice.Ref" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="Invoice.HopDong" class="control-label"></label>
                            <input asp-for="Invoice.HopDong" class="form-control " />
                            <span asp-validation-for="Invoice.HopDong" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-12">
                            <label asp-for="Invoice.GhiChu" class="control-label"></label>
                            <input asp-for="Invoice.GhiChu" class="form-control " id="txtGhiChu" />
                            <span asp-validation-for="Invoice.GhiChu" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="form-group">
                            <button type="button" id="btnEditInvoicePartial" class="btn btn-primary"><i class="fas fa-save"></i></button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

<script>
    $(function () {
        $('.select2').select2()
    });
    $(function () {
        $(".maskInput").mask("99/99/9999");

        //$('#AlertBox').removeClass('hide');
        //$('#AlertBox').delay(1000).slideUp(1000);
    });

</script>
<script src="~/js/Admin/EditInvoicePartial/editController.js"></script>
<script src="~/js/Admin/Tours/indexController.js"></script>
<!-- Validation -->
<script>
    var tourIdInEditInvoicePartial = @Model.Tour.Id; // send it to indexController


    $('#frmInvoiceEditPartial').validate({
        //rules: {
        //    email: {
        //        required: true,
        //        email: true,
        //    },
        //    NgayDen: {
        //        required: true
        //    },
        //    chuDetour1: {
        //        required: true
        //    },
        //},
        //messages: {
        //    email: {
        //        required: "Please enter a email address",
        //        email: "Please enter a vaild email address"
        //    },
        //    NgayDen: {
        //        required: "Please provide a date"
        //    },
        //    chuDetour1: "Please enter value"
        //},
        errorElement: 'span',
        errorPlacement: function (error, element) {
            // add error text

            //error.addClass('invalid-feedback').removeClass('error');
            //element.closest('.chuDeTourGroup').append(error);
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        }
    });

    $('#ddlLoaiTien').rules('add', {
        required: true,
        messages: {
            // required: "Ngày đến không được để trống"
        }
    });

    $('#txtTyGia').rules('add', {
        required: true,
        messages: {
            // required: "Ngày đến không được để trống"
        }
    });

    $('#btnEditInvoicePartial').off('click').on('click', function () {
        debugger
        // if frm valid
        if ($('#frmInvoiceEditPartial').valid()) {
            var invoice = $('#frmInvoiceEditPartial').serialize();
            $.ajax({
                type: "POST",
                url: "/Invoices/EditInvoicePartial",
                data: invoice,
                dataType: "json",
                success: function (response) {
                    if (response.status) {

                        toastr.success('Cập nhật invoice thành công!'); // toastr in admin/tour/indexController.js

                        $('#editInvoicePartial').hide();

                        $('#tabs_KeToan_TourInfo').show();
                        tourId = tourIdInEditInvoicePartial; // receive it from EditInvoicePartial
                        indexController.Load_KeToan_TourInfoByTourPartial(tourId); // in admin/tour/indexController.js

                    }
                    else {
                        toastr.error('Cập nhật invoice không thành công!');
                        //  debugger
                        // $('#createInvoiceModal').show();
                        // $('.createInvoicePartial').html(response);
                        //$('#createInvoiceModal').draggable();

                        //tourid = $(this).data('tourid');
                        //var url = '/Invoices/CreateInvoicePartial';
                        //$.get(url, { tourid: tourid }, function (response) {

                        //    $('#createInvoiceModal').show();
                        //    $('.createInvoicePartial').html(response);
                        //    $('#createInvoiceModal').draggable();

                        //});

                    }
                }
            });
        }
    });

</script>

<style>
    #ddlLoaiIV {
        -webkit-appearance: none;
        -moz-appearance: none;
    }
</style>
