
@model KhachHangViewModel

@{
    ViewData["Title"] = "Edit";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cập nhật</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a asp-route-strUrl="@Model.StrUrl" asp-action="DetailsRedirect">Danh Sách Khách Hàng</a></li>
                    <li class="breadcrumb-item active">Cập nhật khách hàng</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-file text-info"></i> Cập nhật khách hàng</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">


            <form method="post" autocomplete="off">
                <div class="p-4 border rounded">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <input type="hidden" asp-for="Company.CompanyId" /> <!-- because it required-->
                    <input type="hidden" asp-for="TenCreate" value="abc" /> <!-- because it required-->
                    <input type="hidden" asp-for="StrUrl" /> <!-- because it required-->

                    <div class="form-group row">

                        <div class="col-md-6">
                            <label asp-for="Company.Name" class="control-label"></label>
                            <input asp-for="Company.Name" class="form-control" />
                            <span asp-validation-for="Company.Name" class="text-danger"></span>
                        </div>

                        <div class="col-md-6">
                            <label asp-for="Company.Fullname" class="control-label"></label>
                            <input asp-for="Company.Fullname" class="form-control" />
                            <span asp-validation-for="Company.Fullname" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-4">
                            <label asp-for="Company.Nation" class="control-label"></label>
                            <select asp-for="Company.Nation" class="form-control border-input" id="ddlQuocGia"
                                    asp-items="@(new SelectList(Model.Quocgias,"Nation","Nation"))">
                                <option value="">-- Select --</option>
                            </select>
                            <span asp-validation-for="Company.Nation" class="text-danger"></span>
                        </div>

                        <div class="col-md-8">
                            <label asp-for="Company.Address" class="control-label"></label>
                            <input asp-for="Company.Address" class="form-control" />
                            <span asp-validation-for="Company.Address" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-3">
                            <label asp-for="Company.Email" class="control-label"></label>
                            <input asp-for="Company.Email" class="form-control " id="txtEmail" />
                            <span asp-validation-for="Company.Email" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="Company.Tel" class="control-label"></label>
                            <input asp-for="Company.Tel" class="form-control " />
                            <span asp-validation-for="Company.Tel" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="Company.Fax" class="control-label"></label>
                            <input asp-for="Company.Fax" class="form-control" />
                            <span asp-validation-for="Company.Fax" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="Company.Contact" class="control-label"></label>
                            <input type="text" asp-for="Company.Contact" class="form-control maskInput" />
                            <span asp-validation-for="Company.Contact" class="text-danger"></span>
                        </div>

                        @*<div class="col-md-6">
                                <label asp-for="Company.Natione" class="control-label"></label>
                                <input asp-for="Company.Natione" class="form-control" />
                                <span asp-validation-for="Company.Natione" class="text-danger"></span>
                            </div>*@
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label asp-for="Company.Headoffice" class="control-label"></label>
                            <input asp-for="Company.Headoffice" class="form-control" />
                            <span asp-validation-for="Company.Headoffice" class="text-danger"></span>
                        </div>

                        <div class="col-md-4">
                            <label asp-for="Company.Msthue" class="control-label"></label>
                            <input asp-for="Company.Msthue" class="form-control" />
                            <span asp-validation-for="Company.Msthue" class="text-danger"></span>
                        </div>

                        <div class="col-md-4">
                            <label asp-for="Company.Chinhanh" class="control-label"></label>
                            <select asp-for="Company.Chinhanh" class="form-control border-input" id="ddlChiNhanh"
                                    asp-items="@(new SelectList(Model.Dmchinhanhs,"Macn","Macn"))">
                                <option value="">-- Select --</option>
                            </select>
                            <span asp-validation-for="Company.Chinhanh" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">
                            <label asp-for="Company.Nguoilienhe" class="control-label"></label>
                            <input asp-for="Company.Nguoilienhe" class="form-control" />
                            <span asp-validation-for="Company.Nguoilienhe" class="text-danger"></span>
                        </div>

                        <div class="col-md-6">
                            <label asp-for="Company.Nguoidaidien" class="control-label"></label>
                            <input asp-for="Company.Nguoidaidien" class="form-control" />
                            <span asp-validation-for="Company.Nguoidaidien" class="text-danger"></span>
                        </div>

                    </div>

                    <input type="hidden" name="id" value="@Model.Company.CompanyId" />
                    <input type="hidden" name="strUrl" value="@Model.StrUrl" />

                    <div class="form-group ">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
                        <a class="btn btn-success" asp-route-strUrl="@Model.StrUrl" asp-action="DetailsRedirect"><i class="fas fa-backward"></i> Back</a>

                        <button title="Tạo / cập nhật thông tin khách hàng trên hoá đơn điện tử " id="btnTaoKhachHang"
                                class="btn btn-outline-info"
                                formaction="/KhachHangs/TaoKhachhang"
                                formmethod="get"
                                type="submit">
                            <i class="fas fa-cloud-upload-alt"></i> Clound
                        </button>

                    </div>
                </div>
            </form>

            @*<form asp-action="TaoKhachhang" method="post" id="frmTaoKhachHang">
                    <input type="hidden" name="id" value="@Model.Company.CompanyId" />
                    <input type="hidden" name="strUrl" value="@Model.StrUrl" />
                </form>*@

        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

@section Scripts{
    @*<script>

            $(function () {
                $(".datepicker").datepicker({
                    dateFormat: 'dd/mm/yy'
                });
            });
        </script>*@
    <script src="~/js/Admin/KhachHang/editController.js"></script>

}